/**
 * Компонент "Ресурсы сайта"
 *
 * @author manager@gearmagic.ru
 * @date   Jan 01, 2016
 */

@import url('https://fonts.googleapis.com/css?family=Roboto Condensed+Condensed');

.wrap { clear: both; }
section::after { clear: both; }
a { color: #15428b; text-decoration: none; }
a.box {
    position: relative;
    float: left;
    display: block;
    width: 160px;
    min-height: 50px;
    font-size: 12px;
    margin: 5px;
    color: #333333;
    padding: 5px 5px 5px 45px;
    border-radius: 3px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.62) 47%, rgba(237,237,237,0.2) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,0.62)), color-stop(100%, rgba(237,237,237,0.2)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.62) 47%, rgba(237,237,237,0.2) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.62) 47%, rgba(237,237,237,0.2) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,0.62) 47%, rgba(237,237,237,0.2) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,0.62) 47%, rgba(237,237,237,0.2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}
a.box img { position: absolute; left: 5px; top: 5px; }
a.box:hover {
    text-decoration: none;
    background: rgba(255,175,75,1);
    background: -moz-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,175,75,1)), color-stop(100%, rgba(255,146,10,0)));
    background: -webkit-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,0) 100%);
    background: -o-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,0) 100%);
    background: -ms-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,0) 100%);
    background: linear-gradient(to bottom, rgba(255,175,75,1) 0%, rgba(255,146,10,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=0 );
}
a:hover { text-decoration: underline; }
body {
    background-attachment: fixed;
    background-size: cover;
    font: 14px Roboto Condensed,arial,tahoma,sans-serif;
    color: #333;
}
h1 {
    color: #879aa4;
    font-family: Roboto Condensed,sans-serif,verdana,arial;
    font-size: 17px;
    font-weight: normal;
    line-height: 40px;
}
h2, h3 { 
    color: #879aa4;
    font-family: Roboto Condensed,sans-serif,verdana,arial;
    font-size: 17px;
    font-weight: normal;
}

h3 { border-bottom: 1px dashed #879aa4; line-height: 30px; margin-top: 5px; }
.desc { color: #879aa4; font-size: 13px; margin-top: -15px; margin-bottom: 10px; }
.up { font-size: 17px; }
.icon { display: inline-block; width: 16px; height: 16px; margin-right: 5px; }
.icon.folder { background: transparent url("../images/icon-folder.png") no-repeat center center; }
.icon.sfolder { background: transparent url("../images/icon-folder-sys.png") no-repeat center center; }
.icon.folder-root { background: transparent url("../images/icon-folder-root.png") no-repeat center center; }
.icon.sfolder-root { background: transparent url("../images/icon-sfolder-root.png") no-repeat center center; }
.icon.folder-data { background: transparent url("../images/icon-folder-data.png") no-repeat center center; }
.icon.folder-temp { background: transparent url("../images/icon-folder-temp.png") no-repeat center center; }
.icon.data { background: transparent url("../images/icon-data.png") no-repeat center center; }
.icon.config { background: transparent url("../images/icon-config-file.png") no-repeat center center; }
a.edit { background: transparent url("../images/icon-edit.png") no-repeat left 2px; padding-left: 18px; font-size: 13px; opacity: 0.5; transition: 0.5s; }
a.edit:hover { opacity: 1; text-decoration: none; }
a.view { background: transparent url("../images/icon-eye.png") no-repeat left 2px; padding-left: 20px; font-size: 13px; opacity: 0.5; transition: 0.5s; }
a.view:hover { opacity: 1; text-decoration: none; }
em.ok {
    display: block;
    width: 16px;
    height: 16px;
    background: transparent url("../images/ok.png") no-repeat center center;
}
em.alert { padding: 1px 9px 3px 9px; border-radius: 10px; color: #fff; font-style: normal; font-size: 12px; }
em.alert.error { background-color: #D36565; }
em.alert.warning { background-color: #ED711D; }

header { background: transparent url("../images/line.png") no-repeat left bottom; margin-bottom: 10px; }
.grid { font-size: 14px; }
.grid td { padding: 0 15px 5px 0 }
.grid td .note { text-align: justify; margin: 0; color: #848282; font-size: 13px; }
article { padding-left: 20px; }

section { position: relative; margin-bottom: 30px;  padding-left: 45px; min-height: 70px; }
section > ul.none { list-style: none; padding-left: 0; }
section .glyph { position: absolute; left: 0; top: 0; }