/**
 * Gear Manager
 *
 * @author gearmagic.ru@gmail.com
 * @date   Jun 01, 2014
 */

/* Метки полей формы (Ext.form.FormPanel) */
.mn-field-item-info { color: #3c568c; }
.mn-form-item-info { color: #8c8c8c; }
.mn-form-item-text .x-form-display-field {
    color: #333333;
    font: 11px arial,tahoma,verdana,helvetica;
}
.mn-form-item-quiet .x-form-item-label { color: #727171 }
.icon-form-edit { background-image: url(../../default/widgets/images/button/icon-form-edit.png) !important; }
.icon-form-translate { background-image: url(../../default/widgets/images/button/icon-form-translate.png) !important; }

.mn-field-value-error {
    background: url(../../default/widgets/images/icons/icon-error.png) no-repeat left center;
    padding-left: 20px;
    color: #c14b33;
    font-size: 12px;
}
.mn-field-value-warning {
    background: url(../../default/widgets/images/icons/icon-warning.png) no-repeat left center;
    padding-left: 20px;
    line-height: 20px;
    font-size: 12px;
}
.mn-field-value-none { color: #555555; }
.mn-field-value-new { color: #333333; font-weight: bold; }
.mn-field-value-notice { color: #555555; font-size: 11px; }
.mn-field-value-info { color: #003791; padding: 3px 3px 3px 0 !important; }
.mn-field-value-info a {
    background: url(../../default/widgets/images/icons/icon-info.png) no-repeat left center;
    padding-left: 20px;
    cursor: pointer;
    color: #3c568c;
    font-size: 12px;
}
.mn-field-value-error.b, .mn-field-value-warning.b, .mn-field-value-new.b, .mn-field-value-notice.b, .mn-field-value-info.b { font-weight: bold; }

/* Просмотр изображения (Manager.form.ImageView) */
.mn-form-image-view { position: relative; margin-bottom: 15px; }
.mn-form-image-view div.mn-image {
    position: absolute;
    display: block;
    margin: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    -o-background-size: contain;
    -moz-background-size: contain;
    box-shadow: 0 1px 3px rgba(93, 105, 115, 0.44);
    background-color: #fff;
    cursor: pointer;
}
.mn-form-image-view div.mn-image:hover { box-shadow: 0 1px 3px rgba(93, 105, 115, 0.9); }
.mn-form-image-view .mn-bar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 16px;
    width: 100%;
    text-align: center;
}
.mn-form-image-view .mn-bar a {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 7px;
    filter:alpha(opacity=75);
    -moz-opacity: 0.75;
    -khtml-opacity: 0.75;
    opacity: 0.75;
    cursor: pointer;
}
.mn-form-image-view .mn-bar a:hover {
    filter:alpha(opacity=100);
    -moz-opacity: 0.75;
    -khtml-opacity: 0.75;
    opacity: 1;
}
.mn-form-image-view .mn-bar a.download { background: url(../../default/widgets/images/grid/icon-bar-download.png) no-repeat center center; }
.mn-form-image-view .mn-bar a.picture { background: url(../../default/widgets/images/grid/icon-bar-picture.png) no-repeat center center; }
.mn-form-image-view .mn-bar a.widget { background: url(../../default/widgets/images/grid/icon-bar-edit.png) no-repeat center center; }
.mn-form-image-view .mn-bar a.rename { background: url(../../default/widgets/images/grid/icon-bar-rename.png) no-repeat center center; }

/* Панель вкладок на форме */
.mn-form-tab-body { padding: 5px; background-color: #F3F5F4; }
.mn-form-tab-body.clear1 { background-color: transparent !important; }
.mn-form-tab-body-a { padding: 1px; background-color: #F3F5F4; }
.mn-form-tab-body-c { padding: 5px; background-color: #E8E8E8; }
.mn-form-clear .x-panel-body { border:0px none; background-color:#F3F5F4; padding-right:2px; }

/* Маска процесса загрузки окна */
.mn-bg-progress, .mn-mask-load .ext-el-mask {
     background: #fff url(../../default/widgets/images/window/loading.gif) no-repeat center center; border-radius: 6px !important;
}
.mn-loading {
    background: url(../../default/widgets/images/window/loading.gif) no-repeat center center;
