/**
 * Gear Manager
 *
 * @author manager@gearmagic.ru
 * @date   Feb 29, 2016
 */

/* Заливка строк таблиц цветов */
.x-grid3-row.mn-row-notpublished, .x-grid3-row.mn-row-warning { background-color: rgba(255,51,0,0.05); }

/* Для списка nested set */
.mn-tree-row-collapsed {
    background: transparent url(../../default/images/grid/arrow.gif) no-repeat right center;
    margin-right: 5px;
}