/*!
 * Gear CMS (http://gearmagic.ru/)
 * Copyright 2013-2016 Gear Magic <manager@gearmagic.ru>
 * Licensed under GPLv3 (http://www.gearmagic.ru/license/)
 */

/* Components */
section[role="component"] { display: block; margin: 0; position: relative; }
section[role="component"] content { display: block; margin: 0; border: 1px dashed #02AB68; border-radius: 15px 0 0 0; }
section[role="component"] > control[role="component control"] {
    z-index: 99999;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    background: #02AB68 url("../images/cmp-control.png") center center no-repeat;
    cursor: pointer;
    transition: all 0.17s linear;
    -moz-transition: all 0.17s linear;
    -webkit-transition: all 0.17s linear;
    -o-transition: all 0.17s linear;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
section[role="component"] > control[role="component control"]:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
section[role="component"] control:hover { border-color: #1D2325 !important; }
section[role="component"] control[role="item control"] {
    display: block;
    z-index: 99999;
    padding: 0 !important;
    margin: 0 !important;
    width: 10px !important;
    height: 10px !important;
    background-color: #02AB68;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
section[role="component"].gear-position-rb > content { border-radius: 0 0 10px 0; }
section[role="component"].gear-position-rt > content { border-radius: 0 10px 0 0; }
section[role="component"].gear-position-lt > content { border-radius: 10px 0 0 0; }
section[role="component"].gear-position-lb > content { border-radius: 0 0 0 10px; }
section[role="component"].gear-position-rb > control { left: inherit !important; right: 1px; top: inherit !important; bottom: 1px; }
section[role="component"].gear-position-rt > control{ left: inherit !important; right: 1px; bottom: inherit !important; top: 1px; }
section[role="component"].gear-position-lt > control { right: inherit !important; left: 1px; bottom: inherit !important; top: 1px; }
section[role="component"].gear-position-lb > control{ right: inherit !important; left: 1px; top: inherit !important; bottom: 1px; }
section[role="component"].gear-position-none > control { right: inherit !important; left: inherit !important; top: inherit !important; bottom: inherit !important; }
section[role="component"].gear-position-reset > control{ position: relative; display: inline-block; }
section[role="component"].no-design control { display: none; }
section[role="component"].no-design content { border: 0; }
.gear-content-border { border-width: 1px; border-style: dashed; }
.gear-content-border-green { border-color: #02AB68; }
.gear-content-border-white { border-color: #fff; }
.gear-content-border-black { border-color: #000; }

/* Script errors */
.gear-err {
    display: block !important;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    box-shadow: 0 2px 2px #2b2b2b;
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #dd5952 0px, #bc3e33 100%, #bc3e33, #bc3e33) repeat scroll 0 0;
    margin: 7px 7px 10px 7px;
    color: #fff;
}
.gear-err > div { background: url("../images/gear-bg.png") no-repeat right -24px; padding: 5px; }
.gear-err-class, .gear-err-file { margin-bottom: 10px; border-bottom: 1px dashed #fff; padding-bottom: 5px; padding-left: 6px; min-height: 19px; font-size: 14px; }
.gear-err-msg {
    font-size: 12px;
    font-weight: bold;
    background: url("../images/gear/icon-error.png") no-repeat left 3px;
    padding: 2px 5px 5px 33px;
    line-height: 20px;
    min-height: 31px;
}
.gear-err-status {
    border-radius: 5px 5px 0 0;
    padding: 5px 10px 5px 10px;
    margin: -5px -5px 5px -5px;
    font-size: 16px;
    color: #fff;
    box-shadow: 0 20px 35px -20px rgba(0, 0, 0, 0.4) inset, 18px 0 35px -20px rgba(0, 0, 0, 0.4) inset, -18px 0 35px -20px rgba(0, 0, 0, 0.4) inset;
    text-shadow: 0px 1px 2px #423F3F, 0 0 1px #423F3F; 
}
.gear-err-common { font-size: 13px; margin-top: 8px; margin-left: 12px; }
/* message - error */
.gear-err.error {
    background: rgba(232,75,80,1);
    background: -moz-linear-gradient(top, rgba(232,75,80,1) 0%, rgba(181,17,2,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(232,75,80,1)), color-stop(100%, rgba(181,17,2,1)));
    background: -webkit-linear-gradient(top, rgba(232,75,80,1) 0%, rgba(181,17,2,1) 100%);
    background: -o-linear-gradient(top, rgba(232,75,80,1) 0%, rgba(181,17,2,1) 100%);
    background: -ms-linear-gradient(top, rgba(232,75,80,1) 0%, rgba(181,17,2,1) 100%);
    background: linear-gradient(to bottom, rgba(232,75,80,1) 0%, rgba(181,17,2,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e84b50', endColorstr='#b51102', GradientType=0 );
}
/* message - notice */
.gear-err.notice {
    background: rgba(73,155,234,1);
    background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=0 );
}
/* message - warning */
.gear-err.warning {
    background: rgba(255,175,75,1);
    background: -moz-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,175,75,1)), color-stop(100%, rgba(255,146,10,1)));
    background: -webkit-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    background: -o-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    background: linear-gradient(to bottom, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=0 );
}
.gear-page-public { font-family: Arial, Helvetica, sans-serif; text-align: center; color: #000; font-size: 16px; margin-top: 20px; margin-bottom: 20px; }

/* brw-ie */
.gear-brw-ie { color: #000; padding: 5px; background-color: #e3eefb; border-bottom: 1px solid #a0a0a0; }
.gear-brw-ie a { color: #125fe0; }

/* Forms */
.gear-form-wrap {
    display:none; 
    position: absolute;
    left: -2px;
    top: -2px;
    right: -2px;
    bottom: -2px;
    z-index: 9999;
    border-radius: 4px;
    border: 1px solid #dddddd;
    background: rgba(255, 255, 255, 0.9) url("../images/form-loader.gif") center center no-repeat;
}

/* Banners */
.gear-banner-bg-a { position: fixed; top: 0; left: 0; width: 100%; height: 100%; }