/*! lightgallery - v1.3.5 - 2016-09-30
* http://sachinchoolur.github.io/lightGallery/
* Copyright (c) 2016 Sachin N; Licensed Apache 2.0 */

@import url('https://fonts.googleapis.com/css?family=Roboto Condensed Condensed+Condensed');

body {
    background-attachment: fixed;
    background-size: cover;
    font: 12px Roboto Condensed,arial,tahoma,sans-serif;
    color: #333;
}
h1 {
    color: #879aa4;
    font-family: Roboto Condensed, sans-serif,verdana,arial;
    font-size: 17px;
    font-weight: normal;
    line-height: 40px;
    
}
.header { background: transparent url("../img/line.png") no-repeat left bottom; margin-bottom: 10px; }
.thumb {
    overflow: hidden;
    display: inline-block;
    width: 140px;
    margin: 5px;
    height: 170px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background: #f7f7f7 url("../img/thumb-bg.png") repeat-x left bottom;
    text-decoration: none;
    font-size: 11px;
    color: #333;
}
.thumb.error { background: #f8eded url("../img/thumb-error.png") repeat-x left bottom; }
.thumb:hover { background: #eaf2fb url("../img/thumb-over.png") repeat-x left bottom; border: 1px solid #c6def7; }
.thumb .info { padding: 5px; }
.thumb .info > div { line-height: 19px; }
.thumb .img { height: 90px; overflow: hidden; }
.thumb img { width: 100%; }
.thumb .size, .thumb .resolution { text-align: left; }
.thumb .title > span {
    display: block;
    margin-bottom: 3px;
    margin-right: 0;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
}