/**
 * Gear Manager / Buttons
 *
 * @author manager@gearmagic.ru
 * @date   Jun 01, 2014
 */

/* Значок в сообщении (Manager.button.*) */
.x-window-dlg .ext-mb-clear { background-image: url(../../default/widgets/images/grid/icon-clear.png); background-repeat: no-repeat; width: 48px; height: 48px; }

/* Выравниевание текста в слимах */
.mn-btn-slim .x-btn-mc { text-align: left; }

/* Значки (Manager.button.*) */
.icon-btn-insert { background-image: url(../../default/widgets/images/button/icon-btn-insert.png) !important; }
.icon-btn-delete { background-image: url(../../default/widgets/images/button/icon-btn-delete.png) !important; }
.icon-btn-refresh { background-image: url(../../default/widgets/images/button/icon-btn-refresh.png) !important; }
.icon-btn-copy { background-image: url(../../default/widgets/images/button/icon-btn-copy.png) !important; }
.icon-btn-select { background-image: url(../../default/widgets/images/button/icon-btn-select.png) !important; }
.icon-btn-search { background-image: url(../../default/widgets/images/button/icon-btn-search.png) !important; }
.icon-btn-edit { background-image: url(../../default/widgets/images/button/icon-btn-edit.png) !important; }
.icon-btn-sort { background-image: url(../../default/widgets/images/button/icon-btn-sort16.png) !important; }
.icon-btn-cols { background-image: url(../../default/widgets/images/button/icon-btn-cols.gif) !important; }
.icon-btn-sum { background-image: url(../../default/widgets/images/button/icon-btn-sum.png) !important; }
.icon-btn-help { background-image: url(../../default/widgets/images/button/icon-btn-help.png) !important; }
.icon-btn-chart { background-image: url(../../default/widgets/images/button/icon-btn-chart.png) !important; }
.icon-btn-filter { background-image: url(../../default/widgets/images/button/icon-btn-filter.png) !important; }
.icon-progress-gear { background: url(../../default/widgets/images/button/icon-progress-gear.png) no-repeat !important; }
.icon-refresh { background-image: url(../../default/widgets/images/button/icon-refresh.gif) !important; }
.icon-btn-clear { background-image: url(../../default/widgets/images/button/icon-btn-clear.png) !important; }
.icon-btn-erase { background-image: url(../../default/widgets/images/button/icon-btn-erase.png) !important; }
.icon-btn-mdesign { background-image: url(../../default/widgets/images/button/icon-btn-mdesign.png) !important; }
.icon-btn-mview { background-image: url(../../default/widgets/images/button/icon-btn-mview.png) !important; }

/* Manager.window.DataSearch */
.icon-btn-search-a { background-image: url(../../default/widgets/images/button/icon-btn-search-a.png) !important; }

/* Значки контекстного меню (Manager.button.Export) */
.icon-item-html { background-image: url(../../default/widgets/images/button/icon-item-html.png) !important; }
.icon-item-powerpoint { background-image: url(../../default/widgets/images/button/icon-item-powerpoint.png) !important; }
.icon-item-excel { background-image: url(../../default/widgets/images/button/icon-item-excel.png) !important; }
.icon-item-pexcel { background-image: url(../../default/widgets/images/button/icon-item-pexcel.png) !important; }
.icon-item-word { background-image: url(../../default/widgets/images/button/icon-item-word.png) !important; }
.icon-item-add { background-image: url(../../default/widgets/images/button/icon-form-add.png) !important; }
.icon-item-edit { background-image: url(../../default/widgets/images/button/icon-form-edit.png) !important; }
.icon-item-list { background-image: url(../../default/widgets/images/button/icon-grid.png) !important; }
.icon-item-component { background-image: url(../../default/widgets/images/button/icon-item-component.png) !important; }

/* Значки контекстного меню (Manager.button.ColsState) */
.icon-item-save { background-image: url(../../default/widgets/images/button/icon-btn-save.png) !important; }
.icon-item-restore { background-image: url(../../default/widgets/images/button/icon-refresh.gif) !important; }

/* Значки контекстного меню (Manager.button.DataSelect) */
.icon-item-selectall { background: url(../../default/widgets/images/button/icon-item-selectall.png) 3px center no-repeat !important; }
.icon-item-deselectall { background: url(../../default/widgets/images/button/icon-item-deselectall.png) 3px center no-repeat !important; }
.icon-item-deselect { background: url(../../default/widgets/images/button/icon-item-deselect.png) 3px center no-repeat !important; }

/* Значки контекстного меню (Manager.button.Export) */
.icon-btn-export { background-image: url(../../default/widgets/images/button/icon-btn-export.png) !important; }
.icon-btn-excel { background-image: url(../../default/widgets/images/button/icon-btn-excel.png) !important; }
.icon-btn-word { background-image: url(../../default/widgets/images/button/icon-btn-word.png) !important; }

/* Кнопки в профиле записи (Manager.window.DataProfile) */
.icon-fbtn-reset { background: url(../../default/widgets/images/button/icon-fbtn-reset.png) no-repeat !important; }
.icon-fbtn-delete, .icon-btn-remove {
    background: url(../../default/widgets/images/button/icon-fbtn-delete.png) no-repeat !important;
}
.icon-fbtn-setup { background: url(../../default/widgets/images/button/icon-fbtn-setup.png) no-repeat !important; }
.icon-fbtn-upload { background: url(../../default/widgets/images/button/icon-fbtn-upload.png) no-repeat !important; }
.icon-fbtn-update { background: url(../../default/widgets/images/button/icon-fbtn-update.png) no-repeat !important; }
.icon-fbtn-insert { background: url(../../default/widgets/images/button/icon-fbtn-insert.png) no-repeat !important; }
.icon-fbtn-import { background: url(../../default/widgets/images/button/icon-fbtn-import.png) no-repeat !important; }
.icon-fbtn-erase { background: url(../../default/widgets/images/button/icon-fbtn-erase.png) no-repeat !important; }
.icon-fbtn-translate { background: url(../../default/widgets/images/button/icon-fbtn-translate.png) no-repeat !important; }
.icon-fbtn-ring { background: url(../../default/widgets/images/button/icon-fbtn-ring.png) no-repeat !important; width: 30px !important; }

/* Кнопка сортировки записей (Manager.button.SortData) */
.icon-menu-asc { background-image: url(../../default/widgets/images/button/icon-menu-asc.gif) !important; }
.icon-menu-desc { background-image: url(../../default/widgets/images/button/icon-menu-desc.gif) !important; }
.mn-menu-hotkey { position: relative !important; padding-right: 50px !important; }
.mn-menu-hotkey div { width: 35px; height: 17px; position: absolute; right: 0px; top: 3px; }

/* Кнопки управления набором полей (Manager.form.FieldSetter)) */
.btn-field-remove {
    display: block;
    width: 16px;
    height: 22px;
    background: url(../../default/widgets/images/button/icon-field-remove.png) no-repeat center center;
    cursor: pointer;
    float: left;
    margin-right: 5px;
}
.btn-field-add {
    display: inline-block;
    line-height: 22px;
    background: url(../../default/widgets/images/button/icon-field-add.png) no-repeat left center;
    cursor: pointer;
    color: #555555;
    padding-left: 19px;
}