/**
 * Gear Manager / Fields
 *
 * @author manager@gearmagic.ru
 * @date   Jun 01, 2014
 */

/* Список (Manager.grid.GridPanel) */
.icon-user-status-off, .icon-user-status-on { display: inline-block; padding-left: 20px; height: 16px; }
.icon-user-status-on { background: url(../../default/images/icons/plugins/status_online.png) no-repeat left center; }
.icon-user-status-off { background: url(../../default/images/icons/plugins/status_offline.png) no-repeat left center; }

/* Панель загрузки изображения (Manager.form.ImagePanel) */
.icon-img-add { background-image: url(../../default/widgets/images/field/icon-img-add.png) !important; width: 70px !important; cursor: pointer !important; }
.icon-img-save { background-image: url(../../default/widgets/images/field/icon-img-save.png) !important; }
.icon-img-clear { background-image: url(../../default/widgets/images/field/icon-img-clear.png) !important; }
.icon-img-delete { background-image: url(../../default/widgets/images/field/icon-img-delete.png) !important; }

/* Панель вывода изображения (Manager.form.Image) */
.mn-form-image { border: 1px solid silver; background-repeat: no-repeat; background-position: center; }
.mn-form-image.contain { background-size: contain; -o-background-size: contain; -moz-background-size: contain; }
.mn-form-image.auto { background-size: auto; -o-background-size: auto; -moz-background-size: auto; }
.mn-form-image.cover { background-size: cover; -o-background-size: cover; -moz-background-size: cover; }

/* Значки управления записью (Manager.form.*) */
.icon-record-delete { background-image: url(../../default/widgets/images/field/icon-record-delete.png) !important; }
.icon-record-add { background-image: url(../../default/widgets/images/field/icon-record-add.png) !important; }

/* Инфа в выпадающем списке (Manager.form.ComboField) */
.x-combo-list-item { font-size: 12px; }
.mn-combo-item-info { font-size: 11px; font-style: normal; padding-left: 5px; color: #1e395b; }

/* Поле с выбором записей из списка (Manager.form.SelectorGridField) */
.mn-field-grid-selector .x-grid3-scroller { background-image: none; background-color: #F9F9F9; }
.mn-field-grid .x-grid3-scroller,
.mn-field-grid-editor .x-grid3-scroller {
    background-image: none; background-color: #f3f5f4;
}
.mn-wnd-datasearch .x-grid3-scroller { background-image: none; background-color: #f0f1f3; }

/* Вкладки в окнах */
.mn-tab-panel { background-color: #f3f4f7; padding: 4px; }

/* Доска компонентов */
.mn-dashboard-item { margin-bottom: 10px; }
.mn-dashboard-item .x-panel-bwrap { background-color: #f2f6f9; }
.mn-dashboard-item .x-panel-body { padding: 5px; font-size: 12px; }
.mn-dashboard-item .x-panel-body .wrap { clear: both; }

/* Поле с выбором записей (Manager.form.DataView) */
.mn-field-dataview .x-panel-body { font: 11px Arial, Helvetica, sans-serif; padding-top: 3px; }
.mn-field-dataview .thumb {
    cursor: pointer;
    text-align: center;
    padding: 3px;
    width: 74px;
    height: 60px;
}
.mn-field-dataview .thumb-wrap { float: left; margin: 4px; margin-right: 0; padding: 5px;  }
.mn-field-dataview .thumb-wrap span { display: block; overflow: hidden; text-align: center; }
.mn-field-dataview .x-view-over, .mn-field-dataview .x-view-selected {
    border:1px solid #aabccf;
    border-radius: 2px;
    background: #dbeaf9 url(../../default/widgets/images/widget/row-over.png) repeat-x left top;
    padding: 4px;
}

/* Разделитель полей (Manager.form.Separator) */
.mn-field-separator {
    display: block;
    font-weight: bold;
    font-size: 11px;
    color: #555555;
    padding-bottom: 7px;
    margin-bottom: 7px;
    background: url(../../default/widgets/images/field-line.png) no-repeat right bottom;
}
.mn-field-separator.blue { color: #15428B; }
.mn-field-comment { font-size: 12px; color: #555555; line-height: 17px; }
.mn-field-display { color:#15428B; }

/* для xtype=container убираем границы и заливку */
.mn-container-clean .x-panel-body-noheader, .mn-container-clean .x-panel-mc .x-panel-body {
    border: 0 none;
    background-color: inherit;
}

/* Подсказка для вызова профиля (Ext.form.Field) */
.mn-field-info {
    cursor: pointer;
    height: 21px;
    position: absolute;
    z-index: 3;
    left: -10px;
    top: 0;
    width: 10px;
    background: url(../../default/widgets/images/field/field-info.png) no-repeat 0 center;
}
.mn-field-info:hover { background-position: -10px center; }

/* Вкладка для виджета (Manager.widget.TinyMCE) */
.mn-tinymce { background: url(../../default/widgets/images/widget/loading-large.gif) no-repeat center center; }

/* Подсказки над полями */
hb { margin-left: 3px; display: inline-block; width: 5px; height: 8px; background: url(../../default/widgets/images/field/icon-label-help-gray.png) no-repeat center center; }
note { display: block; font-size: 11px; color: #848282; margin-bottom: 8px; }