/**
 * Gear Manager / Grid
 *
 * @author manager@gearmagic.ru
 * @date   Jun 01, 2014
 */

/* Общии стили таблицы (Manager.grid.GridPanel) */
/* цвета ячеек в столбцах */
.x-grid3-col.mn-bg-color-white { background-color: #fff; }
.x-grid3-col.mn-bg-color-aqua1 { background-color: #ebf3fd; }
.x-grid3-col.mn-bg-color-aqua2 { background-color: #d9e8fb; }
.x-grid3-col.mn-bg-color-aqua3 { background-color: #b1d1e6; }
.x-grid3-col.mn-bg-color-aqua4 { background-color: #aaccf6; }
.x-grid3-col.mn-bg-color-aqua5 { background-color: #6190cd; }
.x-grid3-col.mn-bg-color-aqua6 { background-color: #6c8ba9; }
.x-grid3-col.mn-bg-color-aqua7 { background-color: #546f99; }
.x-grid3-col.mn-bg-color-gray1 { background-color: #f9f9f9; }
.x-grid3-col.mn-bg-color-gray2 { background-color: #d1eedd; }
.x-grid3-col.mn-bg-color-gray3 { background-color: #d8e0e7; }
.x-grid3-col.mn-bg-color-gray4 { background-color: #d0d0d0; }
.x-grid3-col.mn-bg-color-gray5 { background-color: #d8e0e7; }
.x-grid3-col.mn-bg-color-gray6 { background-color: #666; }
.x-grid3-col.mn-bg-color-gray7 { background-color: #333; }
.x-grid3-col.mn-bg-color-green1 { background-color: #c4da46; }
.x-grid3-col.mn-bg-color-green2 { background-color: #77c51e; }
.x-grid3-col.mn-bg-color-green3 { background-color: #056426; }
.x-grid3-col.mn-bg-color-red1 { background-color: #e6d5d0; }
.x-grid3-col.mn-bg-color-red2 { background-color: #e8cec5; }
.x-grid3-col.mn-bg-color-red3 { background-color: #e9c9bd; }
.x-grid3-col.mn-bg-color-red4 { background-color: #efb69f; }
.x-grid3-col.mn-bg-color-sys { background-color: #d8d8d8; }
/* убирает стили ячейки при подсветки строки */
.x-grid3-row.mn-bg-color-clear .x-grid3-col,
.x-grid3-row-over .x-grid3-col,
.x-grid3-row-selected .x-grid3-col {
    background-color: transparent;
}
.x-grid3-row.x-grid3-row-over .x-grid3-cell-inner { background: none; }

/* Убирает фон списка */
.mn-grid-nobg { border: 1px solid #d0d0d0; }
.mn-grid-nobg .x-grid3-scroller { background-image: none; }
.mn-grid-nobg.light .x-grid3-scroller { background-image: none; background-color: #F9F9F9; }

/* Значки в столбцах таблицы (Manager.grid.GridPanel) */
.mn-grid-hd-details {
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    float: left;
    background: transparent url(../../default/widgets/images/grid/icon-hd-details.png) no-repeat left center;
}
.mn-grid-hd-id {
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    float: left;
    background: transparent url(../../default/widgets/images/grid/icon-hd-id.png) no-repeat left center;
}

/* Разделитель в панели инструментов списка (Ext.menu.Separator) */
.mn-menu-separator { margin-top: 15px; height: 30px; width: 1px; }

/* Столбец "Нумерация" (Manager.grid.NumberColumn) */
.x-grid3-body .x-grid3-td-numberer { background-color: #f9f9f9; }
.x-grid3-body .x-grid3-row-selected .x-grid3-td-numberer { background-color: #ebf3fd; }

/* Столбец "Открытка" (Manager.grid.ExpanderColumn) */
.icon-photo-s {
    width: 80px;
    height: 100px;
    background-color: #ecf4ee;
    border: 1px solid #dfdfdf;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.mn-cell-info {
    display: none;
    margin-bottom: 3px;
    padding-top: 5px;
    border-top: 2px solid #99bbe8;
    white-space: normal;
    overflow: hidden;
}
.mn-row-info {
    display: none;
    border-top: 2px solid #71cda6;
    padding: 10px 10px 7px 10px;
}
.mn-row-expand .mn-cell-info, .mn-row-expand .mn-row-info { display: block; }
/* общии правила */
.mn-row-info .fl { float: left; }
.mn-row-info .fr { float: right; }
.mn-row-info .wrap, .mn-cell-info .wrap { clear: both; }
/* изображение */
.mn-row-info .mn-img, .mn-cell-info .mn-img {
    position: relative;
    display: block;
    margin: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    -o-background-size: contain;
    -moz-background-size: contain;
    box-shadow: 0 1px 3px rgba(93, 105, 115, 0.44);
    background-color: #fff;
    cursor: pointer;
}
.mn-row-info .mn-img:hover, .mn-cell-info .mn-img:hover {
    box-shadow: 0 1px 3px rgba(93, 105, 115, 0.9);
}
.mn-row-info .mn-img.bar, .mn-cell-info .mn-img.bar { margin-right: 30px; }
.mn-row-info .mn-img.text, .mn-cell-info .mn-img.text { margin-bottom: 30px; }
.mn-row-info .mn-img .mn-text, .mn-cell-info .mn-img .mn-text { 
    position: absolute;
    bottom: -28px;
    text-align: center;
    left: 0px;
    width: 100%;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #667;
    font: 11px arial,tahoma,helvetica,sans-serif;
}
.mn-row-info .mn-img .mn-bar, .mn-cell-info .mn-img .mn-bar { 
    position: absolute;
    right: -22px;
    top: 0px;
    width: 16px;
    height: 100%;
}
.mn-row-info .mn-img .mn-bar a, .mn-cell-info .mn-img .mn-bar a {
    display: block;
    width: 16px;
    height: 16px;
    margin-bottom: 7px;
    filter:alpha(opacity=75);
    -moz-opacity: 0.75;
    -khtml-opacity: 0.75;
    opacity: 0.75;
}
.mn-row-info .mn-img .mn-bar a:hover, .mn-cell-info .mn-img .mn-bar a:hover {
    filter:alpha(opacity=100);
    -moz-opacity: 0.75;
    -khtml-opacity: 0.75;
    opacity: 1;
}
.mn-row-info .mn-img .mn-bar a.download, .mn-cell-info .mn-img .mn-bar a.download {
    background: url(../../default/widgets/images/grid/icon-bar-download.png) no-repeat center center;
}
.mn-row-info .mn-img .mn-bar a.picture, .mn-cell-info .mn-img .mn-bar a.picture {
    background: url(../../default/widgets/images/grid/icon-bar-picture.png) no-repeat center center;
}
.mn-row-info .mn-img .mn-bar a.widget, .mn-cell-info .mn-img .mn-bar a.widget {
    background: url(../../default/widgets/images/grid/icon-bar-edit.png) no-repeat center center;
}
.mn-row-info .mn-img .mn-bar a.rename, .mn-cell-info .mn-img .mn-bar a.rename {
    background: url(../../default/widgets/images/grid/icon-bar-rename.png) no-repeat center center;
}
.mn-row-info .mn-img.mn-img-xxxl, .mn-cell-info .mn-img.mn-img-xxxl { width: 600px; height: 320px; }
.mn-row-info .mn-img.mn-img-xxl, .mn-cell-info .mn-img.mn-img-xxl { width: 300px; height: 160px; }
.mn-row-info .mn-img.mn-img-xl, .mn-cell-info .mn-img.mn-img-xl { width: 160px; height: 120px; }
.mn-row-info .mn-img.mn-img-l, .mn-cell-info .mn-img.mn-img-l { width: 100px; height: 76px; }
/* заливка картинки */
.mn-row-info .mn-img .mn-img-bg,
.mn-cell-info .mn-img .mn-img-bg { position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; }
.mn-row-info .mn-img .mn-img-bg.hidden, 
.mn-cell-info .mn-img .mn-img-bg.hidden { background: url(../../default/widgets/images/grid/bg-image-disabled.png); }
.mn-row-info .mn-img .mn-img-bg.cover,
.mn-cell-info .mn-img .mn-img-bg.cover {
    background: url(../../default/widgets/images/grid/bg-image-cover.png) no-repeat center center;
}
/* структура строки */
.mn-row-info a.widget-info {
    padding-left: 17px;
    background: url(../../default/widgets/images/grid/icon-widget-info.png) no-repeat left center;
}
.mn-row-info img.icon { margin-right: 3px; }
.mn-row-header.b { font-weight: bold !important; }
.mn-row-header img { margin-right: 5px !important; }
.mn-row-info .mn-row-header {
    background: #f9f9f9 url(../../default/widgets/images/grid/grid3-hrow1.gif) repeat-x left bottom;
    /*border-right: 1px solid #eee;*/
    color: #444;
    font: 11px arial,tahoma,helvetica,sans-serif;
    height: 12px;
    padding: 7px 5px;
    border-top: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    border-left: 1px solid #d0d0d0;
}
.x-grid3-row-selected .mn-row-info .mn-row-header {
    background: #ebf3fd url(../../default/widgets/images/grid/grid3-hrow-over1.gif) repeat-x left bottom;
}
.mn-row-info .mn-row-body {
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 3px;
    background: transparent url(../../default/widgets/images/grid/bg.png);
}
.mn-row-info .mn-row-body.border { border: 1px solid #d0d0d0; }
.mn-row-info .mn-row-body fieldset { border: 0 none; color: #333; font: 12px arial,tahoma,helvetica,sans-serif; margin-bottom: 10px; }
.mn-row-info .mn-row-body fieldset.fixed { width: 340px; float: left; margin-right: 3px; }
.mn-row-info .mn-row-body fieldset > label { font-weight: bold; color: #62b391; }
.mn-row-info .mn-row-body fieldset ul { margin-left: 5px; margin-top: 5px; }
.mn-row-info .mn-row-body fieldset ul li { margin-bottom: 4px; }
.mn-row-info .mn-row-body fieldset ul li label { font-weight: bold; }
.mn-row-info .mn-row-body fieldset pre { font: 12px arial,tahoma,helvetica,sans-serif; }
.mn-row-info table.mn-table td { color: #333; font: 12px arial,tahoma,helvetica,sans-serif; }
.mn-row-info .mn-row-body .mn-chbox {
    display: inline-block;
    width: 14px;
    height: 12px;
    background: url(../../default/widgets/images/grid/icon-col-false-s.png) no-repeat center center;
    margin-left: 5px;
}
.mn-row-info .mn-row-body .mn-chbox.mn-checked {
    background: url(../../default/widgets/images/grid/icon-col-true-s.png) no-repeat center center;
}
.mn-row-info ul.mn-cols {
    list-style: outside none disc;
}
.mn-row-info ul.mn-cols li {
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: top;
    width: 300px
}

/* Столбец "Открытка" (Manager.grid.ExpanderColumn) */
.mn-grid-cell-expander {
    background: url(../../default/widgets/images/grid/group-expand.gif) no-repeat center center;
    width: 21px;
    height: 14px;
    cursor: pointer;
}
.x-grid3-body .x-grid3-td-expander { background-image: none; background-color: #f9f9f9; }
.x-grid3-body .x-grid3-row-selected .x-grid3-td-expander { background-image: none; background-color: #ebf3fd; }
.mn-row-expand .mn-grid-cell-expander {
    background: url(../../default/widgets/images/grid/group-collapse.gif) no-repeat center center;
    width: 21px;
    height: 14px;
    cursor: pointer;
}
.mn-row-expand .x-grid3-cell-inner { white-space: normal; }
.mn-row-load .mn-grid-cell-expander { background: url(../../default/widgets/images/grid/grid-loading.gif) no-repeat center center; }

/* Подсказка для ячейки таблицы (Manager.grid.CellToolTip) */
.mn-grid-cell-tooltip {
    font: normal 12px arial, tahoma, sans-serif;
    color: #666666;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.mn-grid-cell-tooltip img { float: left; margin: 3px; }
.mn-grid-cell-tooltip em { color: #5ba687; font-weight: normal; }
.mn-grid-cell-tooltip-tl {
    font-size: 12px;
    padding: 4px;
    color: #666666;
    margin-left:-4px;
    margin-right:-4px;
    margin-top:-1px;
    margin-bottom: 3px;
    background-color: #DFDFDF;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.mn-grid-cell-tooltip-tl.sub-tl { color: #5ba687; }

/* Столбец "Логический" (Manager.grid.BooleanColumn) */
.mn-grid-col-true {
    background-image: url(../../default/widgets/images/grid/icon-col-true.png);
    background-color: transparent;
    background-position: center 3px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}
.mn-grid-icon-top { background-position: center 5px !important; }
.mn-grid-col-false { background: url(../../default/widgets/images/grid/icon-col-false.png) no-repeat center 3px; width: 16px; height: 16px; opacity: 0.5; }
.mn-grid-col-cursor {
    cursor: pointer;
}
.mn-grid-cell-load { background: url(../../default/widgets/images/grid/grid-loading.gif) no-repeat center center; }
.mn-grid-col-true .x-grid3-cell-inner, .mn-grid-col-false .x-grid3-cell-inner { height: 100%; }

/* Столбец "Компонент" (Manager.grid.WidgetColumn) */
.mg-grid-col-widget > div { padding-left: 2px; padding-right: 2px; }

/* Суммирование строки */
.mn-grid-row-sum { background: url(../../default/widgets/images/grid/icon-row-sum.png) no-repeat; width: 16px; height: 16px; }

/* Столбец "Меню" (Manager.grid.MenuColumn) */
.mn-grid-row-menu { background: url(images/grid/icon-row-menu.png) no-repeat; width: 16px; height: 16px; cursor: pointer; }
.mn-grid-row-menu-sys { background: url(../../default/widgets/images/grid/icon-row-menu-sys.png) no-repeat; width: 16px; height: 16px; cursor: pointer; }

/* Столбец "Системный" (Manager.grid.WidgetColumn) */
.mn-grid-col-sys { background-color: #ebf3fd; }
.mn-grid-col-sys a {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 5px;
    background: transparent url(../../default/widgets/images/grid/icon-col-user.png) no-repeat left center;
}

/* Подсказка на кладке (Manager.widget.TabPanel) */
.mn-tab-tip { font-size: 13px; padding: 3px; }
.mn-tab-tip h1 { font-size: 12px; font-weight: bold; }
.mn-tab-tip h1 span { display: block; font-size: 12px;  font-weight: normal; }
.mn-tab-tip img { float: left; margin-right: 3px; }

/* Быстрый фильтр списка (Manager.tree.GridFilter) */
.mn-tree-gridfilter {
    border-top: 0 none;
    margin: 2px !important;
    background: transparent url(../../default/widgets/images/tree/tree-bg.png) repeat;
}
.mn-tree-gridfilter .x-toolbar, .mn-tree-gridfilter .x-panel-header { border-right: 0 none; }
.x-layout-collapsed-east { margin-top: 1px; border-right: 0 none;}
.x-tab-panel-body .x-layout-collapsed-east { background: transparent url(../../default/widgets/images/tree/title-grid-filter.png) no-repeat center center; }
.x-tab-panel-body .x-layout-collapsed-east.x-layout-collapsed-over { background-color: #ecf4fc; }
.icon-node-find { background: url(../../default/widgets/images/tree/icon-node-find.png) no-repeat left center transparent !important; }
.icon-node-all { background: url(../../default/widgets/images/tree/icon-node-all.png) no-repeat left center transparent !important; }
.icon-hd-find { background: url(../../default/widgets/images/tree/icon-hd-find.png) no-repeat left center transparent !important; }
.icon-folder-find { background: url(../../default/widgets/images/tree/icon-folder-find.png) no-repeat left center transparent !important; }

/* Столбцы (Manager.grid.GridProcess) */
.mn-grid-col-load { background: transparent url(../../default/widgets/images/grid/grid-loading.gif) no-repeat center center; width: 16px; height: 16px; display: block; }
.mn-grid-col-ok { background: transparent url(../../default/widgets/images/grid/icon-col-ok.png) no-repeat center center; width: 16px; height: 16px; display: block; }
.mn-grid-col-none { width: 16px; height: 16px; }
.mn-grid-rec-info { color: #999; font-style: italic; }

/* Миниаютюра в столбце */
.mn-img-preview {
    border: 1px solid #D8E0E7;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 100%;
    height: 50px;
}