/**
 * Gear Manager / MediaViewer
 *
 * @author manager@gearmagic.ru
 * @date   Jun 01, 2014
 */

/* Manager.widget.Media */
.mediaviewer .x-panel-body { font: 11px Arial, Helvetica, sans-serif; padding-top: 3px; }
.mediaviewer .thumb {
    cursor: pointer;
    text-align: center;
    padding: 3px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.mediaviewer .thumb.thumb64 { width: 64px; height: 64px; }
.mediaviewer .thumb.thumb128 { width: 128px; height: 128px; }
.mediaviewer .thumb.thumb256 { width: 256px; height: 256px; }
.mediaviewer .thumb .loader {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 1px solid #d0d0d0;
    background: #fff url("../../default/widgets/images/widget/loading.gif") no-repeat center center;
}
.mediaviewer .thumb.loaded .loader { display: none; }
.mediaviewer .thumb-wrap { position: relative; float: left; margin: 4px; padding: 5px; border:1px solid #fff; border-radius: 2px; }
.mediaviewer .thumb-wrap.bg { background: url("../../default/widgets/images/widget/transparent-bg.png") repeat; }
.mediaviewer .thumb-wrap img.img { display: none; }
.mediaviewer .thumb-wrap span { display: block; overflow: hidden; text-align: center; }
.mediaviewer .thumb-wrap.x-view-over, .mediaviewer .thumb-wrap.x-view-selected {
    border:1px solid #aabccf;
    border-radius: 2px;
    background: #dbeaf9 url(../../default/widgets/images/widget/row-over.png) repeat-x left top;
    padding: 5px;
}
.mediaviewer .loading-indicator {
    font-size:11px;
    background-image:url('../../default/widgets/images/widget/loading.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding-left:20px;
    margin:10px;
}
.mediaviewer .sh-tags { position: absolute; left: 2px; top: 0; }
.mediaviewer .sh-tags > span { display: block; width: 16px; height: 16px; float: left; cursor: pointer; }
.mediaviewer .sh-tags > span:hover { background-color: #aabccf; }
.mediaviewer .sh-tags .sh-medium { background: url(../../default/widgets/images/widget/sh-img-medium.png) no-repeat center center; }
.mediaviewer .sh-tags .sh-thumb { background: url(../../default/widgets/images/widget/sh-img-thumb.png) no-repeat center center; }
.mediaviewer .sh-tags > span.none { display: none; }

.mv-window .icon-btn-download { background-image: url(../../default/widgets/images/widget/icon-file-download.png) !important; }
.mv-window .icon-btn-upload { background-image: url(../../default/widgets/images/widget/icon-file-upload.png) !important; }
.mv-window .icon-btn-delete { background-image: url(../../default/widgets/images/widget/icon-file-delete.png) !important; }
.mv-window .icon-img-small { background-image: url(../../default/widgets/images/widget/icon-img-small.png) !important; }
.mv-window .icon-img-medium { background-image: url(../../default/widgets/images/widget/icon-img-medium.png) !important; }
.mv-window .icon-img-big { background-image: url(../../default/widgets/images/widget/icon-img-big.png) !important; }
.x-tree-node-el.mn-node-dir { margin-top: 7px; border-top: 1px dashed #d0d0d0; }