/**
 * Gear Manager / Shortcuts
 *
 * @author manager@gearmagic.ru
 * @date   Jun 01, 2014
 */

/* Стили рабочего стола (Manager.widget.Shortcuts) */
.thumb-sh { position: absolute; bottom: 4px; left: 10px; }
#main-tab-shortcuts .x-panel-body { font: 11px Arial, Helvetica, sans-serif; padding-top: 3px; }
#main-tab-shortcuts .thumb {
    cursor: pointer;
    text-align: center;
    padding: 3px;
    width: 74px;
    height: 60px;
    background: url(../../default/widgets/images/widget/loading.gif) no-repeat center center;
}
#main-tab-shortcuts .thumb.loaded { background: none; }
#main-tab-shortcuts .thumb-wrap { float: left; margin: 4px; margin-right: 0; padding: 5px; width: 80px; }
#main-tab-shortcuts .thumb-wrap span { display: block; overflow: hidden; text-align: center; }
#main-tab-shortcuts .x-view-over, #main-tab-shortcuts .x-view-selected {
    border:1px solid #aabccf;
    border-radius: 2px;
    background: #dbf9f5 url(images/shortcuts/row-over.png) repeat-x left top;
    padding: 4px;
}
#main-tab-shortcuts .x-view-selected .thumb { background:transparent; }
#main-tab-shortcuts .loading-indicator {
    font-size:11px;
    background-image:url('../../default/widgets/images/widget/loading.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding-left:20px;
    margin:10px;
}
.icon-sh-view1 { background: transparent url(../../default/widgets/images/widget/icon-sh-view1.png) no-repeat left center !important; }
.icon-sh-view2 { background: transparent url(../../default/widgets/images/widget/icon-sh-view2.png) no-repeat left center !important; }