html, body {
    padding: 10px;
    background-attachment: fixed;
    background-size: cover;
    border: 0 none;
    color: #555555;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 20px;
}
a:link, a:visited, a:active { color: #0464BB; text-decoration: none; }
.menu { background: url(../images/bg-menu.png) center 25px no-repeat; padding-bottom: 100px; width: 300px; }
.view { padding: 10px 0px 0px 10px; }
div.side-box-toolbar { text-align: right; }
div.side-box-inner {
    background: transparent url(../images/bg.png);
    font-size: 12px;
    padding: 15px;
    border-radius: 4px;
}
ul.features, .content-box ul, .side-box ul {
    list-style-image: url("../images/c-sep-l.gif");
    margin-top: 0px;
    margin-left: 15px;
}
ul.features a:hover { text-decoration: underline; }
ol, ul { list-style: none outside none; }
.view h1 { font: bold 20px Helvetica,Arial,sans-serif; margin-top: 0px; margin-left: 15px; }
.view dd {
    cursor:pointer;
    float:left;
    margin:5px 5px 5px 10px;
    width:340px;
    zoom:1;
    border: 1px solid transparent;
    border-radius: 4px;
}
.view dd img { border: 1px solid #ddd; float:left; height:90px; margin:5px 0 5px 5px; width:120px; }
.view dd div { float:left; margin-left:10px; width:200px; }
.view dd h4 { color:#555; font-size:12px; font-weight:bold; margin: 5px 0 0 0; }
.view dd p { color:#777; }
.view dd.over { background: #F5FDE3 url(../images/bg-dd.png) repeat-x left top; border: 1px solid #f4d9a5; }
.view h2 { background: url("../images/line.png") no-repeat left bottom; cursor:pointer; padding-top:6px; }
.view h2 div {
    background:transparent url(../images/group-expand-sprite.gif) no-repeat 3px -47px;
    color:#3764a0;
    font:bold 12px Helvetica, Arial, sans-serif;
    padding:4px 4px 4px 17px;
}
.view .collapsed h2 div { background-position: 3px 3px; }
.view .collapsed dl { display:none; }
.x-window { text-align:left; }
.view dd h4 span.new-sample { color: red; }
.view dd h4 span.updated-sample { color: blue; }
.wrap { clear: both; }
.line { background: url("../images/line.png") repeat-y scroll left center; height: 2px; }