html, body {
    border: 0 none;
    color: #555555;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 20px;
}
.fl { float: left; margin: 10px; }
.fr { float: right; margin: 10px; }
a:link, a:visited, a:active { color: #0464BB; text-decoration: none; }
a:hover { text-decoration: underline; }
h1 { font-size: 18px; margin: 0px; }
h2 { font-size: 16px; }
p { margin-bottom: 0px; margin-top: 5px; text-align: justify; }
.wrap { clear: both; }
.header h3 div { font: normal 12px Helvetica,Arial,sans-serif; padding: 4px 4px 4px 0px; }
.header { background: url("../images/line.png") no-repeat left bottom; padding-bottom: 10px; }
.header h3 { margin: 0px; }
.header h2 { margin-bottom: 0px; }
.header a {
    float: left;
    display: block;
    width: 32px;
    height: 40px;
    background: url(../images/btn-back.png) no-repeat center center;
    margin-right: 10px;
    opacity: 0.6;
}
.header a:hover { opacity: 1; }
.footer h1 {
    margin-top: 10px;
    background: url("../images/line.png") no-repeat left bottom;
    padding-bottom: 10px;
}
.footer ul { margin: 5px; padding-left: 20px; }
div.q, .ct { width: 650px; margin: 0 auto; }
img { margin: 3px; padding: 3px; border: 1px solid #dbdbdb; }
img.none { border: 0px none; }
div.img { text-align: center; margin: 15px 0px 15px 0px; font-size: 12px; font-weight: bold; }
.control { display: block; position: fixed; right: 10px; bottom: 10px; }
.control a { display: block; float: left; width: 32px; height: 32px; opacity: 0.6; margin-right: 10px; }
.control a:hover { opacity: 1; }
.zoom { display: block; position: fixed; right: 10px; top: 10px; }
.zoom a { display: block; float: left; width: 32px; height: 32px; opacity: 0.6; }
.zoom a:hover { opacity: 1; }
.list-none { list-style-type: none; margin-left: 0px; padding-left: 10px; }
#btn-up { background: url("../images/icon-up.png") no-repeat center center; }
#btn-down { background: url("../images/icon-down.png") no-repeat center center; }
#btn-home { background: url("../images/icon-home.png") no-repeat center center; }
#btn-zoomin { background: url("../images/icon-zoomin.png") no-repeat center center; }
#btn-zoomout { background: url("../images/icon-zoomout.png") no-repeat center center; }
.q.zoom-in { font-size: 16px; line-height: 30px; }