html, body {
    background: #e7ebee url(../../../resources/js/extjs/resources/images/gray/wallpapers/default.jpg) no-repeat top left;
    background-attachment: fixed;
    background-size: cover;
}