/**
 * Logon
 *
 * @author gearmagic.ru@gmail.com
 * @date   Jul 15, 2014
 */

* { border: 0; padding: 0; margin: 0; outline: 0; }
a { color: #8e9699; text-decoration: none; }
a:hover { text-decoration: none; color: #747b7d; }
:focus { outline: 0; }

html { height: 100%; }
body {
    background: #e7eaed url(../images/wallpapers/logon.jpg) left top no-repeat;
    background-size: cover;
    font-family: arial;
    font-size: 12px;
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
}
form { padding: 10px; }
input[type="text"], input[type="password"] {
    width: 260px;
    height: 32px;
    padding-left: 5px;
    margin-right: 3px;
    margin-left: 30px;
    font-size: 15px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #8e9699;
    line-height: 20px;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #F2F4F6 !important;
    -webkit-text-fill-color: #999 !important;
    color: #8e9699 !important;
}
fieldset { text-align: center; margin-bottom: 10px; }
fieldset .field {
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    border: 2px solid #b7c0c4;
    box-shadow: 0 10px 10px #e3e7eb inset;
    margin-top: 7px;
}
fieldset .field.field-login { background: #FFFFFF url(../images/logon/icon-user.png) no-repeat 10px 4px; }
fieldset .field.field-password { background: #FFFFFF url(../images/logon/icon-lock.png) no-repeat 10px 4px; }
fieldset .field.field-code { background: #FFFFFF url(../images/logon/icon-code.png) no-repeat 10px 4px; }
fieldset .field.field-mail { background: #FFFFFF url(../images/logon/icon-mail.png) no-repeat 10px 4px; }
fieldset label { display: block; text-align: left; padding-left: 20px; color: #8e9699; font-size: 12px; font-weight: bold; }
fieldset.captcha { position: relative; }
h1 { font-size: 18px; margin-bottom: 5px; }
.fl { float: left; }
.fr { float: right; }
.wrapper { margin: 70px auto; }
#mask { display: none; background: url(../images/logon/d.png); z-index: 10000; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; }
#mask div { background: url(../js/extjs/resources/images/default/shared/large-loading1.gif) no-repeat center center; width: 100%; height: 100%; }

/* Сообщение */
.notify { width: 360px; margin: 45px auto; }
.notice {
    border-radius: 4px;
    box-shadow: 0 2px 2px #2B2B2B;
    font-size: 12px;
    font-weight: bold;
    min-height: 27px;
    padding: 5px 10px 5px 5px;
    display: none;
}
.notice div { padding-bottom: 5px; padding-left: 36px; padding-top: 5px; }
.notice-icon { display: block; height: 27px; position: absolute; width: 27px; }
.notice-error {
    display: block;
    background: linear-gradient(top, #DD5952 0px, #BC3E33 100%, #BC3E33, #BC3E33);
    background: -moz-linear-gradient(top, #DD5952 0px, #BC3E33 100%, #BC3E33, #BC3E33);
    background: -webkit-linear-gradient(top, #DD5952 0px, #BC3E33 100%, #BC3E33, #BC3E33);
    background: -o-linear-gradient(top, #DD5952 0px, #BC3E33 100%, #BC3E33, #BC3E33);
    background: -ms-linear-gradient(top, #DD5952 0px, #BC3E33 100%, #BC3E33, #BC3E33);
    color: #FFF;
}
.notice-success {
    display: block;
    background: linear-gradient(top, #6CBD58 0px, #5FA74E 100%, #5FA74E, #5FA74E);
    background: -moz-linear-gradient(top, #6CBD58 0px, #5FA74E 100%, #5FA74E, #5FA74E);
    background: -webkit-linear-gradient(top, #6CBD58 0px, #5FA74E 100%, #5FA74E, #5FA74E);
    background: -o-linear-gradient(top, #6CBD58 0px, #5FA74E 100%, #5FA74E, #5FA74E);
    background: -ms-linear-gradient(top, #6CBD58 0px, #5FA74E 100%, #5FA74E, #5FA74E);
    color: #FFF;
}
.notice-info {
    display: block;
    background: linear-gradient(top, #65B9D9 0px, #4A9CBC 100%, #4A9CBC, #4A9CBC);
    background: -moz-linear-gradient(top, #65B9D9 0px, #4A9CBC 100%, #4A9CBC, #4A9CBC);
    background: -webkit-linear-gradient(top, #65B9D9 0px, #4A9CBC 100%, #4A9CBC, #4A9CBC);
    background: -o-linear-gradient(top, #65B9D9 0px, #4A9CBC 100%, #4A9CBC, #4A9CBC);
    background: -ms-linear-gradient(top, #65B9D9 0px, #4A9CBC 100%, #4A9CBC, #4A9CBC);
    color: #FFF;
}
.notice-warning {
    display: block;
    background: linear-gradient(top, #F6C167 0px, #F3B03B 100%, #F3B03B, #F3B03B);
    background: -moz-linear-gradient(top, #F6C167 0px, #F3B03B 100%, #F3B03B, #F3B03B);
    background: -webkit-linear-gradient(top, #F6C167 0px, #F3B03B 100%, #F3B03B, #F3B03B);
    background: -o-linear-gradient(top, #F6C167 0px, #F3B03B 100%, #F3B03B, #F3B03B);
    background: -ms-linear-gradient(top, #F6C167 0px, #F3B03B 100%, #F3B03B, #F3B03B);
    color: #FFF;
}
.notice-error .notice-icon { background: url("../images/logon/notice-error.png"); }
.notice-success .notice-icon { background: url("../images/logon/notice-success.png"); }
.notice-info .notice-icon, .notice-warning .notice-icon { background: url("../images/logon/notice-info.png"); }

/* Форма */
.form {
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    width: 360px;
    height: 320px;
    margin: 0 auto;
    background: url("../images/logon/form-bg.png") repeat-x scroll 0px 0px transparent;
    border: 1px solid #fff;
}
.form-error { width: 420px; height: 275px; }
.form-restore { height: 340px; }
.form .title {
    height: 92px;
    font-size: 40px;
    color: silver;
    padding-left: 10px;
    line-height: 94px;
    text-shadow: 1px 1px 1px #d8dbe0, 0 0 1px #888;
}
.form .title.logo { background: url(../images/logon/logo.png) no-repeat center center transparent; }
.form .message { padding: 10px; font-size: 14px; color: #8e9699; height: 95px; }
.form h1 { font-size: 17px; font-weight: normal; padding-left: 19px; color: #8E9699; }
.form .message h1 { font-weight: bold; padding-left: 0px; }
#captcha { position: absolute; left: 0px; margin-left: 14px; }
/* кнопки формы */
.btn { display: block; width: 70px; height: 70px; background-position: left top; background-repeat: no-repeat; }
.btn:hover { background-position: right top; }
.btn.btn-apply { background-image: url(../images/logon/btn-apply.png); }
.btn.btn-back { background-image: url(../images/logon/btn-back.png); }
.btn.btn-restore { margin-top: 8px; width: 40px; height: 45px; background-image: url(../images/logon/btn-restore.png); }
.btn.btn-refresh { margin-top: 14px; width: 40px; height: 40px; background-image: url(../images/logon/btn-refresh.png); }
.buttons { text-align: right; }
.buttons.fr { margin-top: 11px; }
.loading { background-image: url(../images/loading/loading_large.gif); }

/* Языки */
.langs { margin-top: 30px; text-align: center; }
.langs ul { margin: 0 auto; list-style-type: none; }
.langs ul li { display: inline; margin-left: 20px; margin-right: 20px; }
.langs ul li a { font-weight: bold; }
.langs ul li a.selected { color: #747b7d; }

/* Подвал */
.footer { position: absolute; width: 100%; left: 0px; bottom: 0px; color: #747B7D; line-height: 36px; }
.footer .copyright { float: left; padding-left: 5px; }
.footer .copyright span { float: left; padding-left: 5px; }
.footer .version { float: right; padding-right: 5px; }
.footer a { font-weight: bold; }
.footer .icon-gm { float: right; display: block; background: url(../images/logon/icon-gm.png) no-repeat 0px 0px; width: 27px; height: 27px; margin-left: 5px; }
.footer .icon-gm:hover {
    -webkit-transform: rotate(380deg);
    -moz-transform: rotate(380deg);
    -o-transform: rotate(380deg);
    -ms-transform: rotate(380deg);
    transform: rotate(380deg);
}
/* социальные сети */
.copyright .icon { display: block; float: left; margin: 3px; height: 25px; width: 25px; }
.copyright .icon:hover { background-position: 0px -26px; }
.icon.icon-icq { background: url(../images/logon/icon-icq.png) no-repeat 0px 0px; }
.icon.icon-google { display: block; float: left; margin: 3px; height: 25px; background: url(../images/logon/icon-google.png) no-repeat 0px 0px; width: 25px; }
.icon.icon-twitter { display: block; float: left; margin: 3px; height: 25px; background: url(../images/logon/icon-twitter.png) no-repeat 0px 0px; width: 25px; }
.icon.icon-vk { display: block; float: left; margin: 3px; height: 25px; background: url(../images/logon/icon-vk.png) no-repeat 0px 0px; width: 25px; }
.icon.icon-in { display: block; float: left; margin: 3px; height: 25px; background: url(../images/logon/icon-in.png) no-repeat 0px 0px; width: 25px; }
.icon.icon-skype { display: block; float: left; margin: 3px; height: 25px; background: url(../images/logon/icon-skype.png) no-repeat 0px 0px; width: 25px; }
.logon-disabled { display: none; background: url(../images/logon/d.png); z-index: 10000; position: absolute; left: 10px; top: 7px; width: 437px; height: 306px; }