/**
 * Logon (Internet Explorer 8-)
 *
 * @author gearmagic.ru@gmail.com
 * @date   Jul 15, 2014
 */

.form { border: 2px solid #B7C0C4; }
input[type="text"], input[type="password"] { line-height: 27px; }

/* Сообщение */
.notice-error {
    background: #BC3E33;
    border: 1px solid #B7C0C4;
}
.notice-success {
    background-color: #5FA74E;
    border: 1px solid #B7C0C4;
}
.notice-info {
    background-color: #4A9CBC;
    border: 1px solid #B7C0C4;
}
.notice-warning {
    background-color: #F3B03B;
    border: 1px solid #B7C0C4;
}