/**
 * Shell (Internet Explorer 8+)
 *
 * @author gearmagic.ru@gmail.com
 * @date   Aug 01, 2014
 */

/* Загаловок */
#header { height: 34px; }
/* трей */
#header-tray { display: block; float: left; }
#header-menu { display: block; width: 360px; float: left; }

/* Панель рабочего стола */
.main-desk-links { margin-left: 5px; }
.main-desk-toolbar { top: 24px; }

/* Меню кнопки "Пуск" */
#menu-start { padding-right: 10px; }
#menu-start a.x-menu-item  { padding-left: 30px !important; }
#menu-start a img { margin-top: -5px; }
#menu-start a span { margin-left: 14px; }
