/**
 * Компонент "Яндекс.Метрика"
 *
 * @author manager@gearmagic.ru
 * @date   Jan 01, 2016
 */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.wrap { clear: both; }
section::after { clear: both; }
a { color: #15428b; text-decoration: none; opacity: 0.5; transition: all 0.5s ease 0s; }
a:hover { opacity: 1; }

body {
    background-attachment: fixed;
    background-size: cover;
    font: 14px Roboto Condensed,arial,tahoma,sans-serif;
    color: #333;
}
h1 {
    color: #879aa4;
    font-family: Roboto Condensed,sans-serif,verdana,arial;
    font-size: 18px;
    font-weight: normal;
    line-height: 40px;
}
h1 .icon { margin-bottom: -10px; }
h2, h3 { 
    color: #879aa4;
    font-family: Roboto Condensed,sans-serif,verdana,arial;
    font-size: 18px;
    font-weight: normal;
}
h2 span { font-size: 14px; color: #333 }
h3 { border-bottom: 1px dashed #879aa4; line-height: 30px; margin-top: 5px; }
em.alert { padding: 1px 9px 3px 9px; border-radius: 10px; color: #fff; font-style: normal; font-size: 12px; }
em.alert.error { background-color: #D36565; }
em.alert.warning { background-color: #ED711D; }

/* Plugin */
.loading {
    line-height: 30px;
    background: transparent url("../images/loading.gif") no-repeat left center;
    padding-left: 20px; 
}

/* Header */
header { background: transparent url("../images/line.png") no-repeat left bottom; margin-bottom: 10px; padding-bottom: 1px; }
header h1 { color: #333; font-size: 17px; font-weight: bold; }
header h1 span { color: #ED1C24; }

/* Grid */
table.grid { font-size: 14px; color: #333; width: 900px; }
table.grid th { font-size: 15px; font-weight: normal; text-align: left; }
table.grid th, table.grid td { padding: 10px; }
table.grid th { background-color: #F7F7F7; }
table.grid td { background: rgba(247, 247, 247, 0.5); }
table.grid ul { font-size: 14px; }

/*Messages */
em.alert {
    border-radius: 10px;
    color: #ffffff;
    font-size: 11px;
    font-style: normal;
    padding: 1px 8px 2px;
    line-height: 20px;
}
em.alert.error { background-color: #d36565; }
em.alert.warning { background-color: #ed711d; }
em.alert.success { background-color: #01903A; }

/* Article */
article {  }
.desc {
    color: #879aa4;
    font-size: 13px;
    margin-bottom: 10px;
    margin-top: -15px;
}

/* Section */
a.icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-position: center center;
    background-repeat: no-repeat;
}
a.icon.refresh { background-image: url("../images/icon-refresh.png"); }
a.icon.settings { background-image: url("../images/icon-settings.png"); }

section {
    margin-bottom: 30px;
    min-height: 70px;
    padding-left: 45px;
    position: relative;
}
section .glyph { position: absolute; left: 0; top: 0; }
section .icons { display: inline-block; position: absolute; left: 0; top: 0; width: 32px;  }

section.terms { font-size: 14px; }
 p { margin: 5px 0 5px 0; text-align: justify; }