/**
 * Gear Manager / SignIn
 * Gray theme
 *
 * @author manager@gearmagic.ru
 * @date   Jan 01, 2016
 */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* { border: 0; padding: 0; margin: 0; outline: 0; }
a { color: #8e9699; text-decoration: none; }
a:hover { text-decoration: none; color: #747b7d; }
:focus { outline: 0; }

html { height: 100%; }
body {
    background: #e7eaed url(images/wallpapers/default.jpg) left top no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    font: 14px "Roboto Condensed",arial,tahoma,sans-serif;
}
form { padding: 10px; }
input[type="text"], input[type="password"] {
    width: 260px;
    height: 32px;
    padding-left: 5px;
    margin-right: 3px;
    margin-left: 30px;
    font-size: 14px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #8e9699;
    line-height: 20px;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #F2F4F6 !important;
    -webkit-text-fill-color: #999 !important;
    color: #8e9699 !important;
}
fieldset { text-align: center; margin-bottom: 10px; }
fieldset .field {
    display: inline-block;
    border: 1px solid #fff;
    box-shadow: 0 10px 10px #e3e7eb inset;
    margin-top: 7px;
}
fieldset .field.field-login { background: #fff url(images/signin/icon-user.png) no-repeat 10px 4px; }
fieldset .field.field-password { background: #fff url(images/signin/icon-lock.png) no-repeat 10px 4px; }
fieldset .field.field-code { background: #fff url(images/signin/icon-code.png) no-repeat 10px 4px; }
fieldset .field.field-mail { background: #fff url(images/signin/icon-mail.png) no-repeat 10px 4px; }
fieldset label { display: block; text-align: left; padding-left: 20px; color: #fff; font-size: 13px; font-weight: bold; }
fieldset.captcha { position: relative; }
h1 { font-size: 18px; margin-bottom: 5px; }
.fl { float: left; }
.fr { float: right; }

.wrapper {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-40%);
}
#mask {
    display: none;
    z-index: 10000;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    background: rgba(255, 255, 255, 0.7) url(images/loader/loading_large.gif) no-repeat center center;
}

/* Messages */
.notify { width: 360px; margin: 45px auto; }
.notice {
    -moz-box-shadow: 0 3px 5px #888;
    -webkit-box-shadow: 0 3px 5px#888;
    box-shadow: 0 3px 5px #888;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    min-height: 27px;
    padding: 5px 10px 5px 5px;
    display: none;
}
.notice div { padding-bottom: 5px; padding-left: 36px; padding-top: 5px; }
.notice-icon { display: block; height: 27px; position: absolute; width: 27px; }
.notice-error {
    display: block;
    background: linear-gradient(top, #DD5952 0px, #BC3E33 100%, #BC3E33, #BC3E33);
    background: -moz-linear-gradient(top, #DD5952 0px, #BC3E33 100%, #BC3E33, #BC3E33);
    background: -webkit-linear-gradient(top, #DD5952 0px, #BC3E33 100%, #BC3E33, #BC3E33);
    background: -o-linear-gradient(top, #DD5952 0px, #BC3E33 100%, #BC3E33, #BC3E33);
    background: -ms-linear-gradient(top, #DD5952 0px, #BC3E33 100%, #BC3E33, #BC3E33);
    color: #FFF;
}
.notice-success {
    display: block;
    background: linear-gradient(top, #6CBD58 0px, #5FA74E 100%, #5FA74E, #5FA74E);
    background: -moz-linear-gradient(top, #6CBD58 0px, #5FA74E 100%, #5FA74E, #5FA74E);
    background: -webkit-linear-gradient(top, #6CBD58 0px, #5FA74E 100%, #5FA74E, #5FA74E);
    background: -o-linear-gradient(top, #6CBD58 0px, #5FA74E 100%, #5FA74E, #5FA74E);
    background: -ms-linear-gradient(top, #6CBD58 0px, #5FA74E 100%, #5FA74E, #5FA74E);
    color: #FFF;
}
.notice-info {
    display: block;
    background: linear-gradient(top, #65B9D9 0px, #4A9CBC 100%, #4A9CBC, #4A9CBC);
    background: -moz-linear-gradient(top, #65B9D9 0px, #4A9CBC 100%, #4A9CBC, #4A9CBC);
    background: -webkit-linear-gradient(top, #65B9D9 0px, #4A9CBC 100%, #4A9CBC, #4A9CBC);
    background: -o-linear-gradient(top, #65B9D9 0px, #4A9CBC 100%, #4A9CBC, #4A9CBC);
    background: -ms-linear-gradient(top, #65B9D9 0px, #4A9CBC 100%, #4A9CBC, #4A9CBC);
    color: #FFF;
}
.notice-warning {
    display: block;
    background: linear-gradient(top, #F6C167 0px, #F3B03B 100%, #F3B03B, #F3B03B);
    background: -moz-linear-gradient(top, #F6C167 0px, #F3B03B 100%, #F3B03B, #F3B03B);
    background: -webkit-linear-gradient(top, #F6C167 0px, #F3B03B 100%, #F3B03B, #F3B03B);
    background: -o-linear-gradient(top, #F6C167 0px, #F3B03B 100%, #F3B03B, #F3B03B);
    background: -ms-linear-gradient(top, #F6C167 0px, #F3B03B 100%, #F3B03B, #F3B03B);
    color: #FFF;
}
.notice-error .notice-icon { background: url("images/signin/notice-error.png"); }
.notice-success .notice-icon { background: url("images/signin/notice-success.png"); }
.notice-info .notice-icon, .notice-warning .notice-icon { background: url("images/signin/notice-info.png"); }

/* Form */
.form {
    -moz-box-shadow: 0 3px 5px #888;
    -webkit-box-shadow: 0 3px 5px#888;
    box-shadow: 0 3px 5px #888;
    width: 360px;
    height: 320px;
    margin: 0 auto;
    background-color: rgba(48, 174, 124, 0.3);
    border: 1px solid #fff;
}
.form-error { width: 420px; height: 275px; }
.form-restore { height: 340px; }
.form .title {
    height: 92px;
    font-size: 40px;
    color: silver;
    padding-left: 10px;
    line-height: 94px;
    text-shadow: 1px 1px 1px #d8dbe0, 0 0 1px #888;
}

.form .title.logo { background: rgba(52, 187, 134, 0.5) url(images/signin/logo-white.png) no-repeat center center; }
.form .message { padding: 10px; font-size: 14px; color: #8e9699; height: 95px; }
.form h1 { font-size: 17px; font-weight: normal; padding-left: 19px; color: #fff; }
.form .message h1 { font-weight: bold; padding-left: 0px; }
#captcha { position: absolute; left: 0px; margin-left: 14px; }

/* buttons */
.loading { background-image: url(images/loading/loading_large.gif); }

/* small buttons */
.buttons { text-align: right; padding: 10px 18px 0 0; }
.buttons .btn-sm {
    display: inline-block;
    width: 26px;
    height: 35px;
    background-repeat: no-repeat;
    background-image: url(images/signin/btn-sm.png);
    margin: 0 6px 16px 6px;
    transition: opacity 0.3s ease 0s;
}
.buttons .btn-sm:hover { opacity: 0.6; }
.buttons .btn-sm.btn-info { background-position: 0 center; }
.buttons .btn-sm.btn-recovery { background-position: -26px center; }
.buttons .btn-sm.btn-refresh { background-position: -52px center; }

/* big buttons */
.buttons .btn-big {
    display: inline-block;
    width: 48px;
    height: 64px;
    background-repeat: no-repeat;
    background-image: url(images/signin/btn-big.png);
    transition: opacity 0.3s ease 0s;
    margin: 0 0 0 10px;
}
.buttons .btn-big:hover { opacity: 0.6; }
.buttons .btn-big.btn-apply { background-position: 0 center; }
.buttons .btn-big.btn-back { background-position: -48px center; }
.buttons .btn-big.btn-site { background-position: -96px center; }

/* Locale */
.langs { margin-top: 30px; text-align: center; }
.langs ul { margin: 0 auto; list-style-type: none; }
.langs ul li { display: inline; margin-left: 20px; margin-right: 20px; }
.langs ul li a { font-size: 15px; }
.langs ul li a.selected { color: #747b7d; font-weight: bold; }

/* Footer */
.footer { position: absolute; width: 100%; left: 0; bottom: 0; color: #747B7D; padding: 3px; }
.footer .copyright { line-height: 27px; margin-left: 10px; }
.footer .copyright a { color: #555; font-size: 13px; font-weight: bold; }
.footer ul.social { float: left; }
.footer ul.social li { display: inline-block; margin: 0 3px 0 3px; }

/* social */
.social .icon { display: block; width: 25px; height: 25px; line-height: 20px; opacity: 0.5; }
.social .icon:hover { opacity: 1; }
.icon.icon-google { background: url(images/signin/icon-google.png) no-repeat 0px 0px; }
.icon.icon-twitter { background: url(images/signin/icon-twitter.png) no-repeat 0px 0px; }
.icon.icon-vk { background: url(images/signin/icon-vk.png) no-repeat 0px 0px; }
.icon.icon-in { background: url(images/signin/icon-in.png) no-repeat 0px 0px; }
.icon.icon-skype { background: url(images/signin/icon-skype.png) no-repeat 0px 0px; }
.footer .version { float: right; line-height: 27px; padding-right: 10px; }
.logon-disabled { display: none; background: url(images/signin/d.png); z-index: 10000; position: absolute; left: 10px; top: 7px; width: 437px; height: 306px; }