/**
 * Gear Manager / Desktop
 * Green theme
 *
 * @author manager@gearmagic.ru
 * @date   Jan 01, 2016
 */

body {
    font: normal normal normal 12px arial, tahoma, sans-serif;
    background-color: #34bb86 !important;
}
.x-viewport body { background-color: #34bb86 !important; }

header { color: #555555; font: bold 11px tahoma,arial,helvetica,sans-serif; margin-bottom: 7px; }
a { color:#439467; }
a:link, a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
#start-div h2 { font-size: 12px; color: #555; padding-bottom:5px; border-bottom:1px solid #C3D0DF; }
#start-div p { margin: 10px 0; }
#details-panel h2 { padding:10px 10px 0; font-size:12px; color:#15428B; }
#details-panel p { padding:10px 10px 0; }
#details-panel pre { border-top:1px dotted #ddd; border-bottom:1px dotted #ddd; margin-top:10px; padding:0 5px; background:#f5f5f5; }
#details-panel .details-info { margin:15px; padding:15px; border:1px dotted #999; color:#555; background: #f9f9f9; }
.x-tab-panel-header-plain .x-tab-strip-top {
    background: #DFE8F6 url(../default/images/tabs/tab-strip-bg.gif) repeat-x scroll center bottom !important;
}
.custom-accordion .x-panel-body { background:#ffe; text-align:center; }
.custom-accordion .x-panel-body p { font-family:georgia,serif; padding:20px 80px !important; font-size:18px; color:#15428B; }
.custom-accordion .x-panel-header-text { font-weight:bold; font-style:italic; color:#555; }
#form-panel .x-panel-footer { background:#DFE8F6; border-color:#99BBE8; border-style:none solid solid; border-width:0pt 1px 1px; }
#table-panel .x-table-layout { padding:5px; }
#table-panel .x-table-layout td { vertical-align:top; padding:5px; font-size: 11px; }

/**/
#content-tab > .x-tab-panel-bwrap > .x-tab-panel-body { border: 0 none !important; }

/* Панель ярлыков */
#main-tab-shortcuts { padding-top: 3px; }

/* Панель компонентов */
.main-tab-data { margin-bottom: 0px; font-size: 12px; color: #3C3C3C; height: 158px; }
.main-tab-block { border: 0px solid red; float: left; width: 370px; }
.main-tab-label { margin-top: 10px; color: #434343; font-family: arial,tahoma,verdana,sans-serif; font-size: 12px; font-weight: bold; }
.main-tab-label .left { text-align: right; font-weight: normal; display: block; width: 120px; float:left; }
.main-desk { position: relative; padding-top:25px; padding-left:30px; padding-right:30px; }
.main-desk-title { font-family: sans-serif,verdana,arial; font-size: 17px; color: #439467; margin-bottom: 5px; }
.main-desk-line { height: 1px; background: url(../default/images/shell/desk-line.png) no-repeat scroll left center; }
.main-desk-toolbar { color: #bec8ce; position: absolute; right: 28px; top: 27px; height: 20px; width: 100px; }
.main-desk-toolbar span { margin: 1px; }
.main-desk-title #main-desk-title, .main-desk-title #main-desk-count { font-size: 12px; color: #439467; }

/* Прогрес загрузки */
#cmp-mask {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20000;
    background-color: #CCCCCC;
    filter:alpha(opacity=75);
    -moz-opacity: 0.75;
    -khtml-opacity: 0.75;
    opacity: 0.75;
}
#loading-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20000;
    background: #E9F6EC;
    background-size: cover;
}
#loading {
    position: absolute;
    left: 50%;
    top: 200px;
    z-index: 20001;
    margin-left: -180px;
    background: url(images/signin/logo.png) no-repeat scroll center 0;
}
#loading .center { float: left; width: 360px; }
#loading .center .logo { border: 0px none; height: 60px; }
#loading .center .content { height: 60px; padding: 3px 7px; }
#loading .center .title { float: left; margin-left: 20px; margin-top: 10px; color: #434343; }
#loading-title { font: bold 13px arial, tahoma, helvetica; margin-top: 3px; color: #434343; }
#loading-msg { font: normal 10px arial, tahoma, sans-serif; color: #434343; }

/* Загаловок */
#header { background-color: #34bb86; padding-left: 0px; padding-top: 5px; padding-bottom: 0px; }

/* меню */
#header-menu { margin-left: 29px; display: inline-block; }
#header-menu div { 
    border-radius: 0px 14px 14px 0px;
    background-color: #f0f0f0;
    background-image: none;
    padding-right: 7px;
    padding-left: 21px;
}
#header-menu table.x-toolbar-ct { width: auto; }
#header-menu .x-toolbar-left { width: auto; }
/* трей */
#header-tray { display: inline-block; }
#header-tray div { border: 0 none; background-color: transparent; background-image: none; }
#header-tray table.x-toolbar-ct { width: auto; }
#header-tray .x-toolbar-left { width: auto; }

/* Кнопка "Пуск" */
#header-button { z-index: 9000; position: absolute; left: 2px; top: 1px; width: 43px; height: 43px; display: block; }
#header-button div button {
    display: block;
    width: 40px;
    height: 40px !important;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(124, 131, 137, 0.9);
    background: #F0F0F0 url(images/shell/btn-logo-green.png) no-repeat center center;
    transition: background-color 0.3s ease 0s;
}
#header-button div button:hover,
#header-button .x-btn-menu-active button { background-color: #d1edd7; }
#header-button .x-btn-menu-active button { background-image: url(images/shell/btn-logo-green.png); }

/* Меню кнопки "Пуск" */
#menu-start a.x-menu-item  { line-height: 29px; padding: 3px 21px 3px 43px; }
#menu-start a.x-menu-item img { width: 32px; height: 32px; }
#menu-start.x-menu { background-color: #f0f0f0; background-image: none; }
.mn-start-menu { background:transparent none; border:0px none; padding:0; }
.mn-start-menu { background:transparent none; border:0px none; padding:0; }
.mn-start-menu .mn-start-menu-body { padding: 12px 5px 5px 5px; background-color: #34bb86; }
.mn-start-menu .mn-start-menu-body ul { background-color: #f0f0f0; }

/* Значки главного меню */
.icon-view-tree { background: transparent url(../default/images/icons/menu/icon-view-tree.png) no-repeat left center !important; }
.icon-file-exit { background: transparent url(../default/images/icons/menu/icon-file-exit.png) no-repeat left center !important; }
.icon32-file-exit { background: transparent url(../default/images/icons/menu/32x32/icon-file-exit.png) no-repeat left center !important; }
.icon32-file-acount { background: transparent url(../default/images/icons/menu/32x32/icon-file-acount.png) no-repeat left center !important; }
.icon32-file-site { background: transparent url(../default/images/icons/menu/32x32/icon-file-site.png) no-repeat left center !important; }
.icon-file-acount { background: transparent url(../default/images/icons/menu/icon-file-acount.png) no-repeat left center !important; }
.icon-tab-delete { background: transparent url(../default/images/icons/menu/icon-tab-delete.png) no-repeat left center !important; }
.icon-tabs-delete { background: transparent url(../default/images/icons/menu/icon-tabs-delete.png) no-repeat left center !important; }
.icon-tab-prev { background: transparent url(../default/images/icons/menu/icon-tab-prev.png) no-repeat left center !important; }
.icon-tab-next { background: transparent url(../default/images/icons/menu/icon-tab-next.png) no-repeat left center !important; }
.icon-tab-desktop { background: transparent url(../default/images/icons/menu/icon-tab-desktop.png) no-repeat left center !important; }
.icon-config-themes { background: transparent url(../default/images/icons/menu/icon-config-themes.png) no-repeat left center !important; }
.icon-config-lang { background: transparent url(../default/images/icons/menu/con-config-lang.png) no-repeat left center !important; }
.icon-item-yandex { background: transparent url(../default/images/icons/menu/icon-item-yandex.png) no-repeat left center !important; }
.icon-item-safari { background: transparent url(../default/images/icons/menu/icon-item-safari.png) no-repeat left center !important; }
.icon-item-chrome { background: transparent url(../default/images/icons/menu/icon-item-chrome.png) no-repeat left center !important; }
.icon-item-ie { background: transparent url(../default/images/icons/menu/icon-item-ie.png) no-repeat left center !important; }
.icon-item-firefox { background: transparent url(../default/images/icons/menu/icon-item-firefox.png) no-repeat left center !important; }
.icon-item-opera { background: transparent url(../default/images/icons/menu/icon-item-opera.png) no-repeat left center !important; }
.icon-item-faq { background: transparent url(../default/images/icons/menu/icon-item-faq.png) no-repeat left center !important; }
.icon-item-version { background: transparent url(../default/images/icons/menu/icon-item-version.png) no-repeat left center !important; }
.icon-item-help { background: transparent url(../default/images/icons/menu/icon-item-help.png) no-repeat left center !important; }
.icon-item-book { background: transparent url(../default/images/icons/menu/icon-item-book.png) no-repeat left center !important; }
.icon-item-cmp { background: transparent url(../default/images/icons/menu/icon-item-cmp.png) no-repeat left center !important; }
.icon-item-account { background: transparent url(../default/images/icons/menu/icon-item-account.png) no-repeat left center !important; }
.icon-item-photo { background: transparent url(../default/images/icons/menu/icon-item-photo.png) no-repeat left center !important; }
.icon-item-blank { background: transparent url(../default/images/icons/menu/icon-item-blank.png) no-repeat left center !important; }
.icon-item-settings { background: transparent url(../default/images/icons/menu/icon-item-settings.png) no-repeat left center !important; }
.icon-item-info { background: transparent url(../default/images/icons/menu/icon-item-info.png) no-repeat left center !important; }

/* Панель рабочего стола */
.main-desk-links { display: inline-block; margin-bottom: -4px; }
.main-desk-links a {
    display: block;
    float: left;
    width: 21px;
    height: 21px;
    border:1px solid transparent;
    border-radius: 2px;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
}
.main-desk-links a:hover { border:1px solid #bccad8; background-color: #eef4fb; }
#main-btn-vc { background-image: url(../default/images/icons/shell/icon-view-vc.png); }
#main-btn-vs { background-image: url(../default/images/icons/shell/icon-view-vs.png); }

/* Панель выхода из системы */
.logout-mask { display: none; background: url(../default/images/logon/d.png); z-index: 15002; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; }
.logout {
    position: absolute;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
    left: 50%;
    top: 50%;
    width: 362px;
    height: 200px;
    margin-left: -180px;
    margin-top: -100px;
    background: url("images/signin/form-bg-1.png") repeat-x scroll 0px 0px transparent;
}
.logout .logout-title {
    height: 92px;
    font-size: 40px;
    color: silver;
    padding-left: 10px;
    line-height: 94px;
    text-shadow: 1px 1px 1px #d8dbe0, 0 0 1px #888;
}
.logout .logout-title.logo { background: url(../default/images/logon/logo.png) no-repeat center center transparent; }
.logout a {
    opacity: 0.6;
    display: block;
    width: 90px;
    height: 90px;
    background-position: center center;
    background-repeat: no-repeat;
}
.logout a:hover { opacity: 1; }
.logout ul { list-style-type: none; margin-top: 7px; }
.logout ul li { display: inline-block; margin-left: 13px; margin-right: 13px; }
.logout a.icon-back {  background-image: url(../default/images/shell/icon-logout-back.png); }
.logout a.icon-turnoff {  background-image: url(../default/images/shell/icon-logout-turnoff.png); }
.logout a.icon-account {  background-image: url(../default/images/shell/icon-logout-account.png); }
.logout a.icon-site {  background-image: url(../default/images/shell/icon-logout-account.png); }