/**
 * Gear Manager
 * Green theme
 * 
 * @author manager@gearmagic.ru
 * @date   Jun 01, 2014
 */

/* Значок в закладках (Ext.window) */
.icon-tabs { background-image: url(../default/widgets/images/button/icon-tabs.gif) !important; }

/* Узлы деревьев (Manager.tree.*) */
.icon-ctr-groups { background: transparent url(../default/widgets/images/tree/icon-ctr-groups.png) no-repeat left center !important; }
.icon-usr-groups { background: transparent url(../default/widgets/images/tree/icon-usr-groups.png) no-repeat left center !important; }
.x-tree-node-icon { height: 16px !important; }

/* Панели деревьев (Manager.tree.*) */
.icon-expand-all { background-image: url(../default/widgets/images/button/icon-expand-all.gif) !important; }
.icon-collapse-all { background-image: url(../default/widgets/images/button/icon-collapse-all.gif) !important; }

/* Окно вывода изображения (Manager.window.ImagePreview) */
.icon-wnd-picture { background: url(../default/widgets/images/icons/icon-picture.png) 3px center no-repeat !important; }

/* Значок сообшения о ошибке скрипта (Manager.app.App) */
.icon-wnd-error { 
    width: 55px !important;
    height: 55px !important;
    background: url("../default/widgets/images/window/icon-wnd-error.png") no-repeat scroll left center transparent;
}

/* Всплывающие сообщения (Manager.app.App) */
.mn-app-msg { 
    background-color: #f8fafa;
    border-radius: 5px;
    box-shadow: 0 0 5px #888;
    background: url(../default/widgets/images/window/msg-bg.png) repeat-x left top;
    padding: 5px; 
    border: 1px solid #65727f;
}
.mn-app-msg h2 {
    font: 16px tahoma,arial,helvetica,sans-serif;
    margin-bottom: 5px;
    color: #434343;
    font-weight: bold;
}
.mn-app-msg div { font: 14px tahoma,arial,helvetica,sans-serif; margin-top: 10px; }
.mn-msg-data-dependents { overflow-y: scroll; height: 90px; width: 400px; margin-top: 10px; font: 12px tahoma,arial,helvetica,sans-serif; }
.mn-msg-data-dependents table { width: 100%; font: 12px tahoma,arial,helvetica,sans-serif; border: 1px solid #d4d6d8; }
.mn-msg-data-dependents table td { padding: 3px; background-color: #dcdede; }
.mn-msg-delete { color: #555555; }

/* Ошибка компонента "datepicker" */
li.x-menu-list-item div { display: block; }

/* FIX bug Chrome */
.ext-webkit .x-form-field-wrap .x-form-trigger { right: inherit; }

/* Ошибки сценария */
.gear-err {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    box-shadow: 0 2px 2px #2b2b2b;
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #dd5952 0px, #bc3e33 100%, #bc3e33, #bc3e33) repeat scroll 0 0;
    margin: 7px 7px 10px 7px;
    color: #fff;
}
.gear-err > div { background: url("../default/widgets/images/gear-bg.png") no-repeat right -24px; padding: 5px; }
.gear-err-class, .gear-err-file { margin-bottom: 10px; border-bottom: 1px dashed #fff; padding-bottom: 5px; padding-left: 6px; min-height: 19px; font-size: 14px; }
.gear-err-msg {
    font-size: 12px;
    font-weight: bold;
    background: url("../default/widgets/images/gear/icon-error.png") no-repeat left 3px;
    padding: 2px 5px 5px 33px;
    line-height: 20px;
    min-height: 31px;
}
.gear-err-status {
    border-radius: 5px 5px 0 0;
    padding: 5px 10px 5px 10px;
    margin: -5px -5px 5px -5px;
    font-size: 16px;
    color: #fff;
    box-shadow: 0 20px 35px -20px rgba(0, 0, 0, 0.4) inset, 18px 0 35px -20px rgba(0, 0, 0, 0.4) inset, -18px 0 35px -20px rgba(0, 0, 0, 0.4) inset;
    text-shadow: 0px 1px 2px #423F3F, 0 0 1px #423F3F; 
}
.gear-err-common { font-size: 13px; margin-top: 8px; margin-left: 12px; }
/* message - error */
.gear-err.error {
    background: rgba(232,75,80,1);
    background: -moz-linear-gradient(top, rgba(232,75,80,1) 0%, rgba(181,17,2,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(232,75,80,1)), color-stop(100%, rgba(181,17,2,1)));
    background: -webkit-linear-gradient(top, rgba(232,75,80,1) 0%, rgba(181,17,2,1) 100%);
    background: -o-linear-gradient(top, rgba(232,75,80,1) 0%, rgba(181,17,2,1) 100%);
    background: -ms-linear-gradient(top, rgba(232,75,80,1) 0%, rgba(181,17,2,1) 100%);
    background: linear-gradient(to bottom, rgba(232,75,80,1) 0%, rgba(181,17,2,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e84b50', endColorstr='#b51102', GradientType=0 );
}
/* message - notice */
.gear-err.notice {
    background: rgba(73,155,234,1);
    background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=0 );
}
/* message - warning */
.gear-err.warning {
    background: rgba(255,175,75,1);
    background: -moz-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,175,75,1)), color-stop(100%, rgba(255,146,10,1)));
    background: -webkit-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    background: -o-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    background: linear-gradient(to bottom, rgba(255,175,75,1) 0%, rgba(255,146,10,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a', GradientType=0 );
}
