<h3>I. Регистрация пользователей и порядок поведения на сайте</h3>
<ul>
<li>Регистрируясь на сайте, пользователь соглашается выполнять данные Правила.</li>
<li>Для регистрации на сайте пользователь должен предоставить действующий адрес электронной почты (логин).</li>
<li>Общение на сайте строится на принципах общепринятой морали и сетевого этикета.</li>
<li>Запрещается использование нецензурных слов, брани, оскорбительных выражений, в независимости от того, в каком виде и кому они были адресованы. В том числе при подмене букв символами.</li>
<li>Запрещается размещать в комментариях и отзывах любую рекламу, в том числе рекламу интернет-проектов.</li>
<li>Запрещается создавать несколько аккаунтов на одного человека с целью манипулирования результатами рейтинга.</li>
<li>Запрещается публиковать в отзывах и комментариях недостоверную информацию.</li>
<li>За нарушение настоящих правил администрация оставляет за собой право блокировать аккаунт нарушителя на неограниченный срок.</li>
<li>Администрация оставляет за собой право изменять правила с последующим уведомлением об этом пользователей.</li>
</ul>

<h3>II. Обработка персональных данных</h3>
<ul>
<li>Администрация сайта не имеет намерения собирать информацию, относимую действующим законодательством Луганской Народной Республики к персональным данным, через сайт, за исключением случаев, когда персональные данные были предоставлены пользователем добровольно.</li>
<li>Предоставляя свои персональные данные добровольно, пользователь автоматически дает согласие на обработку своих персональных данных, включая их трансграничную передачу в соответствии с действующим законодательством Луганской Народной Республики.</li>
<li>Администрация сайта обязуется обеспечить конфиденциальность предоставленных пользователем персональных данных. Если Вы не хотите, чтобы Ваши персональные данные обрабатывались, пожалуйста, не предоставляйте их на нашем сайте.</li>
<li>Технические средства сайта автоматически распознают сетевые (IP) адреса пользователей. Указанная информация; адреса электронной почты лиц, пользующихся интерактивными сервисами сайта и (или) отправляющих электронные сообщения в адреса, указанные на сайте; автоматически накапливаемые сведения о том, к каким интернет-страницам сайта обращались пользователи; иные сведения (в том числе персонального характера), сообщаемые пользователями, – хранятся с использованием технических средств сайта.</li>
<li>Такие сведения о пользователях сайта используются исключительно для улучшения обслуживания пользователей, а также ведения статистики посещений сайта.</li>
<li>Рассылка каких-либо электронных сообщений по адресам электронной почты пользователей сайта, допускаются исключительно, если такая рассылка прямо предусмотрена правилами использования соответствующего интерактивного сервиса и на такую рассылку получено предварительное согласие пользователя сайта.</li>
</ul>