<script type="text/javascript">function callUloginToken(token){ document.location.search = '?token=' + token; }</script>
<div id="uLogin" data-ulogin="display=panel;theme=flat;fields=first_name,last_name,email,photo;providers=vkontakte,odnoklassniki,facebook,yandex,twitter,google;redirect_uri=;callback=callUloginToken;mobilebuttons=0;"></div>
<script type="text/javascript" src="{gear}/js/ulogin.js" async></script>