<!-- start template banner_short 3-->
<div id="modal-banner-image" class="modal-banner-image modal modal-image fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog ">
			<button type="button" class="close" data-dismiss="modal" aria-label="Закрыть"><span aria-hidden="true">×</span></button>
			 <!-- Banner home popup-->
			<div class="home-popup-banner">
				<a href="banner1_link" banner1_blank><img src="{host}banner1_image"></a>
			</div>         
			<!-- /Banner home popup-->	 
		</div>
	</div>
</div> 
<!--end start template banner_short 3-->