<!-- Banner long-->


<?if(banner1_link):?>	
<div class="top-page-banner" id="top-page-banner" style="display:none" >
	<div class="banner_close-area" id="banner_close-area" >
		<button type="button" class="button button__clean banner_close">
			<i class="fa fa-times" aria-hidden="true"></i>
		</button>
	</div>
	 
	<a class="banner_link" href="banner1_link" banner1_blank><img src="/banner1_image" style=" "></a>
	 
</div>
<?endif;?>
<!-- /banner long-->