<article>
    <div style="text-align: center">
        <h2>Страница не найдена (404-я ошибка)</h2>
        <p>К сожалению, такой страницы не существует.</p>
        <p>Вероятно, она была удалена с сервера, либо её здесь никогда не было.</p>
    </div>
</article>