<article>
    <div style="text-align: center">
        <h2>Доступ только для авторизированных пользователей (401-я ошибка)</h2>
        <p>пройдите <a href="/signin/">авторизацию</a>, если у вас нет учетной записи <a href="/signup/">зарегистрируйтесь</a></p>
    </div>
</article>