@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700,700i&subset=cyrillic');

body {
/*   padding-top: 3rem;
  padding-bottom: 3rem; */
  color: #333;
  background:#fff;
 font-family: 'Roboto', sans-serif;
  font-size:14px;
  line-height:1.6em;
  min-width:320px;
  padding-top:0px;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Roboto Condensed', sans-serif;
 /* letter-spacing:0.05em; */
 font-weight: bold;
}

a{
color:#FF4496;
transition:0.3s;
}

a:focus, a:hover {
    color: #2196F3;
    text-decoration: underline;
}

.size-11 			{ font-size:11px !important; line-height:15px !important; }
.size-12 			{ font-size:12px !important; line-height:16px !important; }
.size-13 			{ font-size:13px !important; line-height:17px !important; }
.size-14 			{ font-size:14px !important; line-height:18px !important; }
.size-15 			{ font-size:15px !important; line-height:19px !important; }
.size-16 			{ font-size:16px !important; line-height:20px !important; }
.size-17 			{ font-size:17px !important; line-height:23px !important; }
.size-18 			{ font-size:18px !important; line-height:24px !important; }
.size-19 			{ font-size:19px !important; line-height:25px !important; }
.size-20 			{ font-size:20px !important; line-height:26px !important; }
.size-25 			{ font-size:25px !important; line-height:30px !important; }
.size-28 			{ font-size:28px !important; line-height:32px !important; }
.size-30 			{ font-size:30px !important; line-height:36px !important; }
.size-36 			{ font-size:36px !important; line-height:40px !important; }
.size-40 			{ font-size:40px !important; line-height:46px !important; }
.size-50 			{ font-size:50px !important; line-height:56px !important; }
.size-60 			{ font-size:60px !important; line-height:66px !important; }
.size-70 			{ font-size:70px !important; line-height:76px !important; }
.size-80 			{ font-size:80px !important; line-height:86px !important; }
.size-90 			{ font-size:90px !important; line-height:96px !important; }
.size-100 			{ font-size:100px !important; line-height:106px !important; }
.size-150 			{ font-size:150px !important; line-height:166px !important; }
.size-200 			{ font-size:200px !important; line-height:216px !important; }

.line-height-0		{ line-height:0 !important; 	}
.line-height-10		{ line-height:10px !important; 	}
.line-height-20		{ line-height:20px !important; 	}
.line-height-23		{ line-height:23px !important; 	}
.line-height-30		{ line-height:30px !important; 	}
.line-height-40		{ line-height:40px !important; 	}
.line-height-50		{ line-height:50px !important; 	}
.line-height-60		{ line-height:60px !important; 	}
.line-height-70		{ line-height:70px !important; 	}
.line-height-80		{ line-height:80px !important; 	}
.line-height-90		{ line-height:90px !important; 	}
.line-height-100	{ line-height:100px !important; }


.padding-0 			{ padding:0 !important; 	}
.padding-3 			{ padding:3px !important; 	}
.padding-6 			{ padding:6px !important; 	}
.padding-8 			{ padding:8px !important; 	}
.padding-10 			{ padding:10px !important; 	}
.padding-15 			{ padding:15px !important; 	}
.padding-20 			{ padding:20px !important; 	}
.padding-30 			{ padding:30px !important; 	}	
.padding-32 			{ padding:32px !important; 	}			
.padding-40 			{ padding:40px !important; 	}
.padding-50 			{ padding:50px !important; 	}
.padding-60 			{ padding:60px !important; 	}
.padding-64 			{ padding:64px !important; 	}
.padding-70 			{ padding:70px !important; 	}
.padding-80 			{ padding:80px !important; 	}
.padding-90 			{ padding:90px !important; 	}
.padding-100 		{ padding:100px !important; }

.padding-top-0		{ padding-top:0 !important; }
.padding-top-5		{ padding-top:5px !important; }
.padding-top-10		{ padding-top:10px !important; }
.padding-top-15		{ padding-top:15px !important; }
.padding-top-20		{ padding-top:20px !important; }
.padding-top-30		{ padding-top:30px !important; }
.padding-top-40		{ padding-top:40px !important; }
.padding-top-50		{ padding-top:50px !important; }
.padding-top-60		{ padding-top:60px !important; }
.padding-top-80		{ padding-top:80px !important; }
.padding-top-90		{ padding-top:90px !important; }
.padding-top-100	{ padding-top:100px !important; }
.padding-top-130	{ padding-top:130px !important; }
.padding-top-150	{ padding-top:150px !important; }
.padding-top-180	{ padding-top:180px !important; }
.padding-top-200	{ padding-top:200px !important; }

.padding-bottom-0	{ padding-bottom:0 !important; }
.padding-bottom-10	{ padding-bottom:10px !important; }
.padding-bottom-15	{ padding-bottom:15px !important; }
.padding-bottom-20	{ padding-bottom:20px !important; }
.padding-bottom-30	{ padding-bottom:30px !important; }
.padding-bottom-40	{ padding-bottom:40px !important; }
.padding-bottom-50	{ padding-bottom:50px !important; }
.padding-bottom-60	{ padding-bottom:60px !important; }
.padding-bottom-80	{ padding-bottom:80px !important; }
.padding-bottom-100	{ padding-bottom:100px !important; }
.padding-bottom-130	{ padding-bottom:130px !important; }
.padding-bottom-150	{ padding-bottom:150px !important; }
.padding-bottom-180	{ padding-bottom:180px !important; }
.padding-bottom-200	{ padding-bottom:200px !important; }
.padding-left-15	{ padding-left:15px !important; }
.padding-left-16	{ padding-left:16px !important; }
.padding-left-32	{ padding-left:32px !important; }
.padding-left-40	{ padding-left:40px !important; }
.padding-left-50	{ padding-left:50px !important; }
.padding-left-60	{ padding-left:60px !important; }
.padding-right-15	{ padding-right:15px !important; }
.padding-right-16	{ padding-right:16px !important; }
.padding-right-32	{ padding-right:32px !important; }
.padding-right-40	{ padding-right:40px !important; }
.padding-right-50	{ padding-right:50px !important; }
.padding-right-60	{ padding-right:60px !important; }

.margin-top-0		{ margin-top:0 !important; }
.margin-top-1		{ margin-top:1px !important; }
.margin-top-2		{ margin-top:2px !important; }
.margin-top-3		{ margin-top:3px !important; }
.margin-top-6		{ margin-top:6px !important; }
.margin-top-8		{ margin-top:8px !important; }
.margin-top-10		{ margin-top:10px !important; }
.margin-top-20		{ margin-top:20px !important; }
.margin-top-30		{ margin-top:30px !important; }
.margin-top-40		{ margin-top:40px !important; }
.margin-top-50		{ margin-top:50px !important; }
.margin-top-60		{ margin-top:60px !important; }
.margin-top-80		{ margin-top:80px !important; }
.margin-top-90		{ margin-top:90px !important; }
.margin-top-100		{ margin-top:100px !important; }
.margin-top-130		{ margin-top:130px !important; }
.margin-top-150		{ margin-top:150px !important; }
.margin-top-180		{ margin-top:180px !important; }
.margin-top-200		{ margin-top:200px !important; }

.margin-bottom-0	{ margin-bottom:0 !important; }
.margin-bottom-1	{ margin-bottom:1px !important; }
.margin-bottom-2	{ margin-bottom:2px !important; }
.margin-bottom-3	{ margin-bottom:3px !important; }
.margin-bottom-6	{ margin-bottom:6px !important; }
.margin-bottom-8	{ margin-bottom:8px !important; }
.margin-bottom-10	{ margin-bottom:10px !important; }
.margin-bottom-20	{ margin-bottom:20px !important; }
.margin-bottom-30	{ margin-bottom:30px !important; }
.margin-bottom-40	{ margin-bottom:40px !important; }
.margin-bottom-50	{ margin-bottom:50px !important; }
.margin-bottom-60	{ margin-bottom:60px !important; }
.margin-bottom-80	{ margin-bottom:80px !important; }
.margin-bottom-100	{ margin-bottom:100px !important; }
.margin-bottom-130	{ margin-bottom:130px !important; }
.margin-bottom-150	{ margin-bottom:150px !important; }
.margin-bottom-180	{ margin-bottom:180px !important; }
.margin-bottom-200	{ margin-bottom:200px !important; }

.margin-left-0		{ margin-left:0 !important; }
.margin-left-3		{ margin-left:3px !important; }
.margin-left-6		{ margin-left:6px !important; }
.margin-left-8		{ margin-left:8px !important; }
.margin-left-10		{ margin-left:10px !important; }
.margin-left-15		{ margin-left:15px !important; }
.margin-left-20		{ margin-left:20px !important; }
.margin-left-30		{ margin-left:30px !important; }
.margin-left-40		{ margin-left:40px !important; }
.margin-left-50		{ margin-left:50px !important; }
.margin-left-60		{ margin-left:60px !important; }
.margin-left-80		{ margin-left:80px !important; }
.margin-left-100	{ margin-left:100px !important; }
.margin-left-130	{ margin-left:130px !important; }
.margin-left-150	{ margin-left:150px !important; }
.margin-left-180	{ margin-left:180px !important; }
.margin-left-200	{ margin-left:200px !important; }
.margin-left-250	{ margin-left:250px !important; }
.margin-left-300	{ margin-left:300px !important; }

.margin-right-0		{ margin-right:0 !important; }
.margin-right-3		{ margin-right:3px !important; }
.margin-right-6		{ margin-right:6px !important; }
.margin-right-8		{ margin-right:8px !important; }
.margin-right-10	{ margin-right:10px !important; }
.margin-right-15	{ margin-right:15px !important; }
.margin-right-20	{ margin-right:20px !important; }
.margin-right-30	{ margin-right:30px !important; }
.margin-right-40	{ margin-right:40px !important; }
.margin-right-50	{ margin-right:50px !important; }
.margin-right-60	{ margin-right:60px !important; }
.margin-right-80	{ margin-right:80px !important; }
.margin-right-100	{ margin-right:100px !important; }
.margin-right-130	{ margin-right:130px !important; }
.margin-right-150	{ margin-right:150px !important; }
.margin-right-180	{ margin-right:180px !important; }
.margin-right-200	{ margin-right:200px !important; }
.margin-right-250	{ margin-right:250px !important; }
.margin-right-300	{ margin-right:300px !important; }

.line-height-0		{ line-height:0 !important; 	}
.line-height-10		{ line-height:10px !important; 	}
.line-height-20		{ line-height:20px !important; 	}
.line-height-23		{ line-height:23px !important; 	}
.line-height-30		{ line-height:30px !important; 	}
.line-height-40		{ line-height:40px !important; 	}
.line-height-50		{ line-height:50px !important; 	}
.line-height-60		{ line-height:60px !important; 	}
.line-height-70		{ line-height:70px !important; 	}
.line-height-80		{ line-height:80px !important; 	}
.line-height-90		{ line-height:90px !important; 	}
.line-height-100	{ line-height:100px !important; }


.nopadding 			{ padding:0 !important; 		}
.nopadding-left 		{ padding-left:0 !important; 	}
.nopadding-right 	{ padding-right:0 !important; 	}
.nopadding-top 		{ padding-top:0 !important; 	}
.nopadding-bottom	{ padding-bottom:0 !important; 	}
.nomargin 			{ margin:0 !important; 			}
.nomargin-left 		{ margin-left:0 !important; 	}
.nomargin-right 		{ margin-right:0 !important; 	}
.nomargin-top		{ margin-top:0 !important; 	}
.nomargin-bottom	{ margin-bottom:0 !important; 	}
.noborder 			{ border:0 !important; 			}
.noborder-left		{ border-left:0 !important; 	}
.noborder-right		{ border-right:0 !important; 	}
.noborder-top		{ border-top:0 !important; 		}
.noborder-bottom	{ border-bottom:0 !important; 	}
.nobg				{ background:transparent; 		}
.lowercase 			{ text-transform:lowercase; 	}
.uppercase 			{ text-transform:uppercase; 	}
.noradius			{ -webkit-border-radius:0 !important; -moz-border-radius:0 !important; border-radius:0 !important; }
.font-style-italic 	{ font-style:italic; 			}
.font-style-normal 	{ font-style:normal; 			}
.pointer 			{ cursor:pointer; 				}
.block 				{ display:block !important; 	}
.inline		{ display:inline !important; 	}
.inline-block		{ display:inline-block !important; 	}
.bold 				{ font-weight:bold !important; 	}
.fullwidth 			{ width:100% !important; max-width:100% !important; 		}
.halfwidth 			{ width:50% !important; 		}
.justify 			{ text-align:justify; 			}
.relative 			{ position:relative;			}
.absolute			{ position:absolute !important; top:0; left:0; right:0; bottom:0;	}
.text-left 			{ text-align:left !important; }
.text-right 		{ text-align:right !important; }
.text-dashed		{display:inline; text-decoration:none!important; border-bottom:1px dashed;}
.noshadow			{ box-shadow:none; text-shadow:none; }
.nofloat			{ float:none !important; 		}
.nowrap{white-space:nowrap;}
.display-table		{ display:table; width:100%; height:100%; position:relative; z-index:99;	}
.display-table-cell	{ display:table-cell; width:100%; height:100%; }
.vertical-align-middle	{ vertical-align:middle;		}
.txt-no-decoration	{ text-decoration:none !important; 		}
.softhide			{ display:none; 				}
img.pull-left 		{ margin:0 20px 10px 0; }
img.pull-right 		{ margin:0 0 10px 20px; }
ul>li>i				{ margin-right:10px; 	}
.no-text-underline,
.no-text-decoration	{ text-decoration:none; }
.line-through		{ text-decoration: line-through; }
.btn>i 				{ padding-right:6px; 	}
video.fullvideo 		{ width:100%; height:100%; }
.text-italic{
	font-style:italic;
}
.text-bold{
	font-weight:bold;
}


.cl-white{
	color:#fff!important;
}

.cl-red{
	color:#E52E45!important;
}

.cl-text{
	color:#333!important;	
}

.page-section{
	padding-top:20px;
	padding-bottom:20px;
}


.bg-dark-blue{
	background-color:#242738;
}

.bg-red{
	background-color:#e82640;
}

.section-title{
	text-transform: uppercase;
    font-size: 23px;
    font-weight: bold;
	margin-bottom:20px;
	margin-top:0;
	color:initial;
}
.btn{
	border-width:2px;
}
.btn-outline {
    color:#2B2A3C;
	 border-color:#2B2A3C;
	border-radius:30px;
}

.btn-outline:hover {
    color:#000;
	 border-color:#000;
	border-radius:30px;
}

.btn-outline-inverse {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border-color: #fff;
	border-radius:30px;
}

.btn-outline-inverse:hover{
	color:#E62E3E;
	 border-color:#E62E3E;
}

.bg-red .btn-outline-inverse:hover{
	color:#000;
	 border-color:#000;
}

.btn-outline-black {
    color: #000;
    background-color: rgba(0, 0, 0, 0);
    border-color: #000;
	border-radius:30px;
}
.btn-outline-black:hover{
	color:#E62E3E;
	 border-color:#E62E3E;
}

@media (min-width: 1300px){
.container {
    width: 1230px;
}}

.row{
	margin-left:-10px;
	margin-right:-10px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	padding-right: 10px;
    padding-left: 10px;
}

.bg-gradient{
	color:#fff;
	background: #e82e3b;
	background: -moz-linear-gradient(left,  #e82e3b 0%, #7B2AAD 100%);
	background: -webkit-linear-gradient(left,  #e82e3b 0%,#7B2AAD 100%);
	background: linear-gradient(to right,  #e82e3b 0%,#7B2AAD 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e82e3b', endColorstr='#7B2AAD',GradientType=1 );	
}

.bg-gradient a{
	color:#fff;
	text-decoration:underline;
}

.affix{
	position:fixed;
	top:0;
	right:0;
	left:0;
    z-index: 11;
}

.affix-top{
	position:absolute;
	top:0;
	right:0;
	left:0;
	z-index: 2;
}

.body-affix-height{
	 
	height:50px;
}

@media(max-width:990px){
	/* .affix + .body-affix-height{
		display:block;
		height:50px;
	} */
	
	.body-affix-height{
		display:block;
		height:50px;
	}
}



nav.top-menu{
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.63);
	background-color: rgba(255, 255, 255, 0.95);
    border: none;
 
	 font-family: 'Roboto Condensed', sans-serif;
	margin-bottom:0;
	
	-webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
	
	display: flex;
    align-items: center;
}


.top-menu .navbar-nav a{
	color:#2B2A3C!important;
	font-weight:bold;
	font-size: 18px;
    letter-spacing: 0em;
	text-transform:uppercase;
    padding: 15px 7px;
}

.top-menu .navbar-nav>li>a:focus, .top-menu .navbar-nav>li>a:hover{
	color:#FF4496!important
}

@media(max-width:991px){
	.top-menu .navbar-nav a{
		 font-size: 15px;
		 padding:5px;
	}
}

@media(max-width:767px){
	nav.top-menu{
		background: #e82e3b;
		background: -moz-linear-gradient(left,  #e82e3b 0%, #7B2AAD 100%);
		background: -webkit-linear-gradient(left,  #e82e3b 0%,#7B2AAD 100%);
		background: linear-gradient(to right,  #e82e3b 0%,#7B2AAD 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e82e3b', endColorstr='#7B2AAD',GradientType=1 );	
		color: #fff;
	}
}


.top-menu .navbar-nav>.active>a, .top-menu .navbar-nav>.open>a {
	background: rgba(0, 0, 0, 0);
    box-shadow: none;
    color:#FF4496!important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent!important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #E91E63;
}

@media(max-width:767px){
	.top-menu .navbar-nav {
		float: none;
		margin: 0;
		text-align:left;
	}
	
	.top-menu .navbar-nav>li {
		float: none;
		display:block;
		padding:0;
	}
	
	.top-menu .navbar-nav a{
		padding:8px 5px;
	}	
		
 
	.top-menu .navbar-collapse, .top-menu .navbar-form {
		border-color: #e7e7e7;
		box-shadow: 0px 7px 19px rgba(0, 0, 0, 0.07);
		background:#fff;
	}
	
	.top-menu  .navbar-brand {
		color: #FFF;
		padding: 0;
		width: 118px;
		margin-left: 15px;
		padding-top: 6px;
	}
	
	.top-menu .navbar-toggle{
	    border: none;		
	}
	
	.top-menu .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	
	.top-menu .navbar-toggle:focus, .top-menu .navbar-toggle:hover {
		background-color: rgba(0, 0, 0, 0.08);
		border-radius: 1px;
	}
}

@media (min-width: 768px){
	.top-menu .navbar-nav {
		float: none;
		margin: 0;
		text-align:center;
	}
	
	.top-menu .navbar-nav>li {
		float: none;
		display:inline-block;
		padding:0;
	}
}


.page-header{
	padding-top:30px;
	padding-bottom:20px;
	margin:0 0 0px 0;
	border:none;
}

@media(max-width:991px){
	.page-header{
		display:none;
		/* padding-top:30px;
		padding-bottom:30px;
		margin:0 0 30px 0; */
	}	
}


@media (max-width: 767px){

}


.header-eventtypes-menu{
	margin-bottom:0;
    margin-top: 3px;
	white-space:nowrap;
}

.header-eventtypes-menu li {
	
}


.header-eventtypes-menu li a{
	text-decoration:none;
	display: block;
	font-size:14px;
	/* letter-spacing:0.05em; */
	line-height:1.2em;
	/* font-family: 'Bebas Neue', sans-serif; */
}
@media(max-width:1240px){
	.header-eventtypes-menu li{
		margin-left:-10px;
	}
	.header-eventtypes-menu li a{
		font-size:14px;
	}
}

@media(max-width:990px){
 
	.header-eventtypes-menu li a{
		text-decoration:none;
		display: block;
		font-size:13px;
		padding-left:45px;
		/* letter-spacing:0.05em; */
		line-height:1.2em;
		/* font-family: 'Bebas Neue', sans-serif; */
	}
}

@media(max-width:560px){
	.page-header{
		padding-top:20px;
		padding-bottom:20px;
	}
	 
	.header-eventtypes-menu li a{
		background: none;
		padding-left: 15px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	
	.header-eventtypes-menu li a:before{
		content: "\f061";
		font-family: fontawesome;
		display: inline-block;
		margin-left: -14px;
		margin-right: 10px;
	}
}

.teatr-link{
	background:url(../images/teatr.png)center left no-repeat;
	padding-left:50px;
	padding-top: 13px;
    padding-bottom: 13px;
	text-decoration:none;
}
.kino-link{
	background:url(../images/kino.png)center left no-repeat;
	padding-left:50px;
	padding-top: 13px;
    padding-bottom: 13px;
	text-decoration:none;
}
.cafe-link{
	background:url(../images/cafe.png)center left no-repeat;
	padding-left:50px;
	padding-top: 13px;
    padding-bottom: 13px;
	text-decoration:none;
}

.header-logo img{
	margin:0 auto;
}

.header-logo-wrap-desctop{
	text-align:center;
}

@media(max-width:991px){
	.header-logo-wrap-desctop{
		text-align:left;
	}
}

.header-logo-wrap-mobile{
	margin:10px 0 0 15px;
}

.header-logo-wrap-mobile img{
	max-height: 35px;

}



@media(max-width:991px){
	.header-logo img{
		margin:0;
	}
	
	.header-eventtypes-menu{
		margin-bottom:0;
		margin-top:0;
	}
	
	.header-icons{
		text-align:right;
	}
}

@media(max-width:767px){
	
}

.header-search-wrap{
	margin-top:15px;
}

.header-search-form{
	position:relative;
}

.header-search-input{
	background:transparent;
	color:#fff;
	border:2px solid #fff;
	border-radius:20px;
	height:30px;
/* 	min-width:295px; */
}

@media(min-width:1236px){
	.header-search-input{
		min-width:295px;
	}
}

input.header-search-input::-webkit-input-placeholder {  
    color:rgba(255, 255, 255, 0.48);
   
}

input.header-search-input::-moz-placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:rgba(255, 255, 255, 0.48);
	 opacity: 1; /* Firefox */
}

.header-search-input :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:rgba(255, 255, 255, 0.48);
}

.header-search-input ::-ms-input-placeholder { /* Microsoft Edge */
   color:rgba(255, 255, 255, 0.48);
}

.header-search-btn{
	position:absolute;
	top: 1px;
    right: 4px;
	background:transparent;
	border:none!important;
	padding:1px 4px;
}

.header-search-btn:before{
	content: "\f002";
	color:#fff;
	font-family:fontawesome;
}

.header-icons a{
	display:inline-block;
	margin-left:15px;
	margin-right:-3px;
}

.body-wrap{
	padding-bottom:30px;
	padding-top:30px;
}

/*main-news */
.main-news .section-title{
	margin-bottom:10px;
}

.main-news{
	 
}

.home-events-grid{
	position:relative;
	overflow:hidden;
}

.home-events-grid.on-mobile{
	overflow-x:scroll!important;
	overflow-y:hidden; 
}

.horizontal-grid__two-lines {
    height: 602px;
}
.horizontal-grid {
    position: relative;
    right: 0;
   
	display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.horizontal-grid.loading{
	background: url("../images/n-loader.svg") center center no-repeat;
}

.horizontal-grid.on-mobile{
	/* overflow-x:scroll!important;
	overflow-y:hidden;  */
}

.horizontal-grid-hidden{
	opacity:0;
}

.horizontal-grid_item, .horizontal-grid_sizer {
    position: absolute; 
    width: 100%;
   padding:10px;
}
@media (min-width: 768px){
.horizontal-grid_item, .horizontal-grid_sizer{
    width: 50%;
}}

@media (min-width: 1240px){
	.horizontal-grid_item, .horizontal-grid_sizer{
		width: 25%;
	}
}

.horizontal-grid-controls{
	position: absolute;
    height: 620px;
    width: 100%;
	overflow:hidden;
}

.grid-btn-to-next{
	position: absolute;
    top: 50%;
    right: -42px;
    margin-top: -25px;
    padding: 30px 30px;
    line-height: 10px;
    background: #fcfcfc;
    border-radius: 50%;
    box-shadow: 0 0 0 8px rgba(220,220,220,.3);
    transition: box-shadow .1s ease 30ms,opacity .3s ease,visibility .3s ease;
    z-index:5;
	cursor:pointer;
	border:none;
}
.grid-btn-to-next i{
    margin-left: -3px;
    padding-right: 7px;
	position: relative;
    left: -12px;
}

.grid-btn-to-prev{
	position: absolute;
    top: 50%;
    left: -42px;
    margin-top: -25px;
    padding: 30px 30px;
    line-height: 10px;
    background: #fcfcfc;
    border-radius: 50%;
    box-shadow: 0 0 0 8px rgba(220,220,220,.3);
    transition: box-shadow .1s ease 30ms,opacity .3s ease,visibility .3s ease;
    z-index:5;
	cursor:pointer;
	border:none;
}
.grid-btn-to-prev i{
	margin-right: -3px;
    padding-left: 7px;
	position: relative;
    right: -12px;
}
.horizontal-grid_sizer-full-width{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;	
}
  

.media-card {
    position: relative;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
    text-align: left;
    color: #fff;
    border-radius: 3px;
    box-shadow: 0 0px 9px rgba(0,0,0,0.25);
	transition:0.3s;
	overflow:hidden;
}

.media-card__height__small {
    height: 275px;
}

.media-card__overlay::before, .media-card__promotion .media-card_content::after, .media-card__shadowed::before {
    position: absolute;
    bottom: -1px;
    content: "";
    left: 0;
		transition:0.3s;
}
.media-card__shadowed::before {
    top: 70%;
    width: 100%;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 90%);
    z-index: 1;
    border-radius: 3px;
}
.media-card__shadowed:hover::before{
	background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.6) 90%);
	top:75%;
}
.media-card_background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 3px;
}

.media-card:hover, .media-card:hover .media-card_fake__first, .media-card:hover .media-card_fake__second {
    box-shadow: 0 0 15px rgba(0,0,0,.8);
	 text-decoration: none;
	color:#fff;
}
 
.media-card_discuss, .media-card_label {
    z-index: 1;
    top: 20px;
    position: absolute;
}

.news-grid-item{
	margin-bottom:20px;
}

.color-label {
    display: inline-block;
    min-width: 80px;
    padding: 8px 12px 8px 10px;
    color: #fff;
    border-radius: 0 40px 40px 0;
    opacity: .8;
	background-color: #ff5a43;
}

.media-card:hover .color-label{
	opacity: 1;
	transition:0.3s;
}

.color-label:hover, .content_item:hover .content_remove-item-button {
    opacity: 1;
	transition:0.3s;
}
.checkbox__extra-small .checkbox_label, .color-label {
    font-size: 12px;
	line-height: 10px;
}
.cards-line_title, .caret-link.caret-link__cover, .color-label {
    font-weight: 500;
    text-transform: uppercase;
}
.button__block, .button__for-link, .color-label {
    text-align: center;
}

.media-card_discuss {
    right: 20px;
}

.media-card_content {
    position: relative;
    z-index: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 20px;
    color: #fff;
}


.media-card__centered{
   justify-content: center;
}


.media-card_title {
	font-family: 'Roboto', sans-serif!important;	
    display: block;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
   /*  max-height: 75px; */
    margin-top: 10px;
    margin-bottom: 0px;
    overflow: visible;
    font-weight: 100!important;
    font-size: 18px;
	/* letter-spacing:0.07em; */
    line-height: 25px;
    color: #fff;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.media-card:hover .media-card_title{
	color:#fff;
	transition:0.3s;
	text-shadow:0 0 5px #000;
}

.media-card_text {
	  margin-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    line-height: 18px;
    word-wrap: break-word;
}

.media-card:hover .media-card_more, .media-card:hover .media-card_text {
    color: #fff;
}

.media-card:hover .media-card_more-icon {
    opacity: 1;
}
 
.media-card_more, .media-card_text {
    font-size: 12px;
    color: rgba(255,255,255,.6);
}
.media-card_more {
    font-weight: 500;
}
.media-card_more, .media-card_text {
    font-size: 12px;
    color: rgba(255,255,255,.6);
}
.media-card_more-icon {
    display: inline-block;
    width: 10px;
    height: 9px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-left: 8px;
    opacity: 0;
    fill: #fff;
}

.place-card.media-card{
	max-width:100%;
	text-shadow:0 0 5px #000;
}

.home-place-counter{
	height: 275px;
   /*  width: 275px; */
	border: 1px solid #ddd;
	background:#fff;
    border-radius: 3px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-place-link, .home-place-link:hover {
	text-decoration:none;
	color:#333;
}

.home-place-count{
	color:#E52E45;
	font-size:80px;
	line-height: 80px;
	font-weight:bold;
	margin-bottom:20px;
}

.home-place-text .text-bold{
	font-size:16px;
	margin-bottom:20px;
}

.home-place-text .text-italic{
	font-size:16px;
}

@media (max-width: 991px){
	.home-place-counter{
		width:auto;
		justify-content: flex-start;
		align-items: center;
	}
	
	.home-place-text .text-bold{
		font-size:14px;
		margin-bottom:20px;
	}
	
	.home-place-text .text-italic{
		font-size:14px;
	}
}

@media (max-width: 767px){
	.home-place-counter {
		width: 276px;
		justify-content: flex-start;
		align-items: center;
		margin-top: 20px;
	}
	
	.first-link .home-place-counter {
		float:right;
	}
}

@media (max-width: 610px){
	.home-place-counter {
		width: auto;
		justify-content: flex-start;
		align-items: center;
		margin-top: 20px;
		height: 214px;
		line-height: 22px;
	}
	.home-place-count {
		color: #E52E45;
		font-size: 55px;
		line-height: 39px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	
	.home-place-text .text-bold{
		font-size:12px;
		margin-bottom:10px;
	}
	
	.home-place-text .text-italic{
		font-size:12px;
	}
}

/*home slider*/

section.main.slider .main-body .slide{
	border-radius: 5px;
	position:relative;
	height:auto;
}

.slide-link{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
}

@media(max-width:767px){
		section.main.slider{
			margin-top:-30px;
		}
		section.main.slider > .container{
			padding-left:0;
			padding-right:0;
		}
		section.main.slider .main-body .slide{
			 border-radius:0; 
		}
}
 
 

section.main.slider .main-body .slide .slide-text {
    position: absolute;
    right: 0;
	left:0;
    bottom: 0;
	height: auto;
	width:auto;
	transform:none!important;
}

section.main.slider .main-body .slide .slide-title {
    background: #292B3B;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(34,36,49,1) 83%, rgba(41,43,59,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(34,36,49,1) 83%,rgba(41,43,59,1) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(34,36,49,1) 83%,rgba(41,43,59,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#292b3b',GradientType=0 );
	
	color:#fff;
    padding: 15px;
    color: #fff;
    font-size: 18px;
    line-height: 100%;
    height: 100%;
	text-align:left;
}

section.main.slider .main-body .slide .slide-title a{
	color:#fff!important;
}

.slide-address{
	font-size:20px;
}

.slick-dots li button::before {
    font-size: 10px;
    opacity: 1;
    color: #272938;
}

.slick-dots li.slick-active button::before {
    opacity: 1;
    color: #C22C62;
}

/*footer*/
footer {
    background-color: #2B2A3C;
    margin: 0px 0 0 0;
    padding: 60px 0 60px 0;
    border-top: 8px solid #E52E45;
    color: #fff;
    font-size: 13px;
}
footer .address .phone {
    font-size: 42px;
    line-height: 49px;
    background: none;
    padding-right: 0;
	    margin-right: -5px;
	}

footer .address .phone a{
	color:#fff;
text-decoration:none;	
}

footer .contact {
    padding-right: 0;
}

footer .contact a {
    color: #fff;
    padding-left: 20px;
    padding: 4px 0px 4px 24px;
    margin: 0 2px;
    font-size: 14px;
    line-height: 20px;
}

footer .contact a.contact-vk {
        background: url("../images/f-icons.png") no-repeat 0 -55px;
}
footer .contact a.contact-inst {
    background: url("../images/f-icons.png") no-repeat 0px -25px;
}
footer .contact a.contact-mail {
    background: url("../images/f-icons.png") no-repeat 0px 4px;
    padding-left: 24px;
}

.col-footer-text p{
	line-height:1.5;
	margin-top: 40px;
}


footer .col-contacts {
    margin-top: 39px;
}

#form-search {
    width: auto;
    max-width: 415px;
    margin: 0 auto 10px auto;
}


section.search .input-search {
    width: 313px;
    border-radius: 20px;
    height: 32px;
}
section.search .btn-search {
    padding: 4px 15px;
    border-radius: 20px;
}

.section.news.feature .feature-header{
	line-height:160%;
}

section.news.list ul.pagination {
    margin-left: 0;
}

.top-page-banner {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
		    overflow: hidden;
	/* padding-top:10%; */
	z-index:10;
}

.banner_close-area {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 13%;
    min-width: 45px;
    max-width: 64px;
    height: 100%;
    max-height: 64px;
    cursor: pointer;
	z-index: 5;
}

.top-page-banner .banner_close {
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 0px solid #fff;
    border-radius: 50%;
    text-indent: -1px;
}
.top-page-banner .banner_close .fa{
	font-size: 14px;
    line-height: 12px;
	color:red;
}
  
@media(max-width:1000px){
	.top-page-banner img{
		/* max-width:100%; */
	}
}
  
.banner_link {
   /*  position: absolute;
    top: 0;
	right: 0;
	left: 0;
    bottom: 0;
    background-size: cover;
    background-position: center center; */
	display:block;
}

.banner_link > img{
	width:100%;
}

section.banner {
    margin-bottom: 0px;
}

/*afisha*/
@media(max-width:613px){
	.afisha-list{
		text-align:center!important;
	}
}

.afisha-list{
	
}

section.afisha.list .afisha-body{
	margin-left:0;
	margin-right:0px;
	padding:0;
	text-align:left;
}

section.afisha.list .afisha-i {
    text-align: left;
	position:relative;
    display: inline-block;
    margin: -2px;
	margin-top:-10px;
	margin-bottom: 10px;
	padding: 10px; 
    width: 305px;
    line-height: 1;
    height:305px;
/* 	overflow:hidden; */
}

section.afisha.list .afisha-i-img {
    display: inline-block;
	position:relative;
	background:#2B2A3C;
    width: 100%;
    height: 100%;
	border-radius:4px;
    overflow: hidden;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.25);
	transition:0.3s;
}

section.afisha.list .afisha-i-img img {
   width: auto; 
    margin: 0 auto;
     max-height: 100%; 
    border: none;
	display: block;	
	position:relative;
	z-index:2;
}

section.afisha.list .kafisha-i{
    text-align: left;
	position:relative;
    display: inline-block;
    margin: -2px;
	margin-top:-10px;
	margin-bottom:10px;
	padding: 10px; 
    width: 245px;
    line-height: 0;
    height: auto;
	/* overflow:hidden; */
}

section.afisha.list .kafisha-i-img {
    display: inline-block;
    width: 100%;
    height: 100%;
	border-radius:4px;
    overflow: hidden;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.25);
	transition:0.3s;
}

section.afisha.list .afisha-i-img:hover, section.afisha.list .kafisha-i-img:hover{
	 box-shadow: 0 0 15px rgba(0, 0, 0, 0.80);
}

section.afisha.list .kafisha-i-img img{
  /*   width: auto; */
	height:342px;
    margin: 0 auto;
    /* max-height: 100%; */
    border: none;
	display: block;	
	position:relative;
}

.afihs-i-bg{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-size:cover;
	background-color:#000;
	z-index:0;
	
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	
	opacity:0.3;
}

section.afisha.list .kafisha-i-title {
	padding: 15px;
    font-size: 14px;
    line-height: 16px;
    height: auto;
    overflow: hidden;
    top: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    position: absolute;
    color: #fff;
    left: 10px;
	bottom: 10px;
    right: 10px;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.6) 90%);
    text-shadow: 0 0 5px #000;
	border-radius:4px;
}

section.afisha.list .kafisha-i-title:hover{
	color: #FF4496;
    transition: 0.3s;
    text-shadow: 0 0 5px #000;
}

section.places.list .place-i {
    border: none;
    margin-bottom: 20px;
    height: 370px;
    min-height: initial;
    border-radius: 4px;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    position: relative;
	transition:0.3s;
}

section.places.list .place-i:hover{
	  box-shadow: 0 0 15px rgba(0, 0, 0, 0.81);
}

section.places.list .place-i-title {
	    color: #333;
    font-size: 20px;
    text-align: left;
    border-bottom: none;
    margin: 30px 15px 10px 15px;
    font-weight: normal;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

section.places.list .place-i-address  {
    font-size: 14px;
    text-align: left;
    padding: 0 15px 0 15px;
    line-height: 1.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
section.places.list .place-i-phone{
	font-size: 14px;
    text-align: left;
    padding: 0 15px 0 15px;
    line-height: 1.5;
	white-space:normal;
	max-height: 62px;
    overflow: hidden;
}
section.places.list .place-i-phone > a{
	white-space:nowrap;
}
section.places.list .place-i-address{
	position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 15px;
    border-top: 1px solid #ddd;	
}

.place-i-img{
	position:relative;
}

.place-i-img-link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.place-i-phone a{
	color:#333;
}

.place-i .like-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(../images/icon-like.png) no-repeat 0 center;
    float: left;
    margin-right: 0px;
    transform: scale(0.6);
}

.place-i-like > div {
    text-align: left;
    padding: 0 0px;
}

.place-i-like a {
    display: inline-block;
    margin: 0 auto;
    line-height: 15px;
    height: 27px;
}
.like-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(../images/icon-like.png) no-repeat 0 center;
    float: left;
    margin-right: 0px;
    transform: scale(0.6);
}

.place-i-like.disabled .like-icon {
    background-position: -32px center;
}

.like-count {
    color: #e02c2c;
}
.like-count {
    line-height: 32px;
    float: left;
    color: #cacaca;
    font-weight: bold;
    margin-left: -5px;
}

.place-i-like{
    width: 80px;
    background: #5b9de8;
    color: #fff;
    border-radius: 20px;
    line-height: 15px;
    padding: 0px 13px 2px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

 .like-count {
    line-height: 32px;
    float: left;
    color: #FFF!important;
    font-weight: normal!important;
    margin-left: -5px;
}

.place-i-like.disabled .like-count {
    color: #e02c2c!important;
}

section.places.list .place-i .place-i-like{
	position: absolute;
    bottom: -14px;
	right: 14px;
}

.partner-title .place-i-like{
	position: absolute;
    top: 20px;
    right: 0;
}
@media(max-width:767px){
	.partner-title .place-i-like{
		position:relative;
		top:0px;
		float:left;
	}
}

.home-in-cadr .color-label{
	background:#0086C2!important;
}

/* h2.title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #1F1F1F;
    background: url("../images/bg-title.svg") center top no-repeat;
    padding-top:20px;
	padding-bottom:28px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 0px;
} */
h2.title {
	font-family:Roboto,sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #515669;
    text-transform: uppercase;
    margin-bottom: 28px;
    margin-top: 0px;
	background:none;
	padding:0;
	width:1200px;
}

h2.title{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}

@media (min-width:768px){h2.title{width:750px}}
@media (min-width:992px){h2.title{width:970px}}
@media (min-width:1200px){h2.title{width:1200px}}

@media (min-width: 1300px){h2.title { width: 1230px;}}


@media (max-width: 1230px){
h2.title {
    width: 1000px;
}}

@media (max-width: 1010px){
h2.title {
    width: 900px;
}}
@media (max-width: 950px){
h2.title {
    width: 100%;
}}



.container h2.title{
	min-width:0;
	width:auto;
	padding:0;
}

h2.title.tc+p{
	margin:0;
	height:0;
}

section h2{
	font-family: Roboto,sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: left!important;
    color: #515669;
    text-transform: uppercase;
    margin-bottom: 28px;
    margin-top: 0px;
    background: none;
    padding: 0;
}

#map-places {
	position: relative;
    background: #fff url("../images/loading.gif") no-repeat center center;
    width: 100%;
    height: 350px;
    overflow: hidden;
	margin-top:-30px;
}

#map-places:before{
	content:'';
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	width:40px;
	background:transparent;
	    z-index: 10;
}

#map-places:after{
	content:'';
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	width:40px;
	background:transparent;
	    z-index: 10;
}
@media(max-width:990px){
	#map-places:after{
		content:'';
		position:absolute;
		top:0;
		left:0;
		bottom:0;
		right:0;
		    width: 100%;
		background:transparent;
	    z-index: 10;
	}
}


section.places.list .places-tags {
    margin-bottom: 30px;
    margin-top: 30px;
}

section.places.list .places-tags a {
    display: inline-block;
    font-size: 15px;
    border: 1px solid #FF4496;
    margin: 4px 2px 4px 2px;
    color: #FF4496;
    background-color: #fff;
    padding: 4px 13px 4px 13px;
    border-radius: 19px;
    line-height: 25px;
}

section.places.list .places-tags a.active, section.places.list .places-tags a:hover {
    color: #1D1D1D;
    border: 1px solid #000;
    text-decoration: none;
    background-color: #FFF;
}

section.places.list .places-items-row{
	display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
	margin-left:-10px;
	margin-right:-10px;
}

@media(max-width:1299px){
	section.places.list .places-items-row{
		/* display: flex;
		flex-wrap: wrap;
		justify-content: center; */
	}	
}

section.places.list .places-items-row > div {
    padding-left: 10px;
    padding-right: 10px;
}

.col-place{
	width:305px;
}

@media(max-width:616px){
	.col-place{
		width:100%;
		max-width:450px;
	}
}

@media(max-width:1298px){
 
	section.places.list .places-items-row {
		justify-content: center;
	}
	
	section.places.list .places-items-row:before, section.places.list .places-items-row:after{
		content:none;
	}
	
	.col-place{
		float:none;
	}
}


section.photo.list {
    margin-top: 20px;
}

.section-img-title{
	position:relative;
	height:350px;
	overflow:hidden;
	 margin-top:0px;
	background-color:#000;
	margin-top:-30px;
}

.section-img-title-bg{
	
	height:550px;
	width:100%;
	
	background-color:#000;
	background-position: 50% 0;
    background-repeat: repeat-x; 
	/* background-size:cover!important; */

    background-size: initial;
	
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
	
	/* -webkit-filter: blur(1px);
	filter: blur(1px);
	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
	
	opacity:0.5; */
}

.section-img-title-text{
	position: absolute;
    top: 42%;
    font-size: 37px;
   /*  text-shadow: 0 0 5px #000; */
    width: 100%;
    text-align: center;
    color: #fff;
}

/*news page*/

.page-news{
	 padding-top:30px; 
	 background:#f1f2f3; 
	 margin: -30px 0 -30px 0;
}

section.article .header .date.page-news-date{
	font-size: 12px;
    color: #82889c;
	font-style: italic;
	margin-bottom:60px;
}

 h1.page-news-title{
	margin: 30px 0 60px 0;
	padding:0 10%;
    overflow: hidden;
	font-family:Roboto,sans-serif;
    font-weight: 400;
    font-size: 34px;
	color:#515669;
	text-transform:none;
	text-align:center;
}
@media(max-width:990px){
	section.article .header .date.page-news-date{
		font-size: 14px;
		color: #82889c;
		font-style: italic;
		margin-bottom:0px;
	}
	h1.page-news-title{
		margin: 30px 0 30px 0;
		padding:0;
		overflow: hidden;
		font-weight: 400;
		font-size: 28px;
		color:#515669;
		font-weight:bold;
		text-transform:none;
		text-align:center;
	}
}

.white-block{
    background-color: #fff;
	padding:20px;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	border-radius: 3px;
}

.page-news-img{
	position:relative;
	 margin-left:-20px;
	margin-right:-20px;
	margin-top: 20px; 
    margin-bottom: 20px;
	max-height: 400px;
    overflow: hidden;
	
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.page-news-img-title{
	position:absolute;
	bottom:12px;
	right:20px;
	padding:0px ;
	color:#fff;
	text-shadow:0 0 5px #000;
	text-transform:uppercase;
}

.page-news-cnt{
	line-height:30px;
	/* font-size:16px; */
}
.page-news-cnt img{
	width:100%;
	max-width:100%;
}

section.article .message{
	    margin: 20px 0 0px 0;
}

.sidebar-bottom .sidebar-news {
    margin-right: -10px;
    margin-left: -10px;
}

.sidebar-title{
	font-family:roboto, sans-serif;
	color: #515669;
	font-size:24px;
	margin-top:0;
}

.page-news .sidebar-title{
	font-weight: 500;
    font-size: 14px;
    border-bottom: 1px solid #eaeaea;
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
	padding: 20px;
    margin: -20px -20px 10px -20px;
}

.sidebar-right .sidebar-news-i {
    margin-bottom: 10px;
    border-bottom: 1px dotted #ddd;
    padding: 10px 0;
	
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.sidebar-news-i:last-child{
	margin-bottom:0;
	padding-bottom:0;
	border:none;
}

.sidebar-news-i-img{
	float:left;
	width:50px;
	height:50px;
	margin-right:20px;
}

.sidebar-news-i-img-round{
	display:block;
	width:50px;
	height:50px;
	border:1px solid #ddd;
	border-radius:30px;
	overflow:hidden;
}

section.article .sidebar-news-i-img-round img{
		height:50px!important;
		width:auto!important;
		margin-left: -14px!important;
	}

@media (max-width: 520px){
	 
	section.article .sidebar-news-i-img-round img{
		height:50px!important;
		width:auto!important;
		margin-left: -14px!important;
	}
}
.sidebar-news-i-text{
	/* margin-left:70px; */
    line-height: 1.3em!important;
}

.sidebar-right .sidebar-news-i .title{
	font-weight:500;
	font-size:14px;
	line-height:1.3em;
	display: block;
    margin-bottom: 6px;
}

.sidebar-right .sidebar-news-i .date {
    color: #808080;
    font-size: 12px;
	font-weight:500;
}

section.article .message.vk{
	padding-left:25px;
	border-radius:5px;
	color: #fff;
    background: #e82e3b;
    background: -moz-linear-gradient(left, #e82e3b 0%, #5629d4 100%);
    background: -webkit-linear-gradient(left, #e82e3b 0%,#5629d4 100%);
    background: linear-gradient(to right, #e82e3b 0%,#5629d4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e82e3b', endColorstr='#5629d4',GradientType=1 );
}

section.article .message.vk a{
	color:#fff;
}
@media (max-width: 520px){
section.article img {
    width: auto!important;
    height: auto !important;
}}
/*video grid*/
section.video.list .video-i-play {
	z-index:10;
}

.video-i .media-card_content{
	position: absolute;
    bottom: 0;
    padding: 10px 10px 3px 10px;
    width: 100%;
}

.video-i .media-card__shadowed::before{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.6) 60%);
}

section.video.list .video-i-img {
    min-height: 181px;
    height: 181px;
}

@media(max-width:767px){
	section.video.list .video-i-img {
		min-height: 320px;
		 
	}
}

section.video.list .video-i {
    position: relative;
    margin-bottom: 0;
	border-radius: 3px;
    overflow: hidden;
}
section.video.list .video-i-play {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../images/btn-play.png") no-repeat center 50%;
    cursor: pointer;
    opacity: 0.7;
    border-radius: 10px;
    overflow: hidden;
    display: block;
    border: 0;
}

.photo-body .media-card_title{
	font-weight:bold!important;
	font-size: 20px;
}

@media (max-width: 990px){
	.section.map{
		margin-top:0;
	}

}

.partner-map{
	position:relative;
}

.partner-map:after{
	content:''; 
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	width:40px;
	background:transparent;
	    z-index: 10;
}

@media(max-width:990px){
	.partner-map:after{
		content:''; 
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		width:100%;
		background:transparent;
	    z-index: 10;
	}
}

section.partner .partner-map{
    border: none;
	margin:-20px -20px 0px -20px;
}

.partner-map #map-place .ymaps-b-zoom_hints-pos_right{
	left:20px!important;
	top:20px!important;
}

.partner-map #map-place{
	
}
.partner-title{
	position:relative;
	padding-left:130px;
}
.page-place-title{
	margin: 20px 0 10px 0;
    padding: 0;
	padding-right: 90px;
    overflow: hidden;
	font-family:Roboto, sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #515669;
    font-weight: bold;
    text-transform: none;
    text-align: left;
}

@media(max-width:767px){
	.page-place-title{
		padding-right:0;
	}
	
	.partner-title{
		position:relative;
		padding-left:0px;
	}
}

section.partner .partner-photos .partner-photo-i {
    display: flex;
    align-items: center;
    height: 186px;
    margin: 0;
    overflow: hidden;
    border: none;
}

@media(max-width:1010px){
	section.partner .partner-photos .partner-photo-i {
		display: flex;
		align-items: center;
		height: 286px;
		margin: 0;
		overflow: hidden;
		border: none;
	}	
}

@media(max-width:580px){
	section.partner .partner-photos .partner-photo-i {
		display: flex;
		align-items: center;
		height: 186px;
		margin: 0;
		overflow: hidden;
		border: none;
	}	
}

section.partner .partner-photos .partner-photo-i img{
	width:100%;
	border-radius:3px 3px 0 0;
}

section.partner .partner-photos .partner-photo-i a {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#partner-photos .slick-prev {
    left: 5px;
    top: 50%;
    z-index: 9999;
}
#partner-photos .slick-next {
    right: 5px;
    top: 50%;
    z-index: 9999;
}

.place-arrows-controls{
	position:relative;
	height:32px;
	width:71px;
	float:right;
	margin-left:10px;
    margin-top: -3px;
	}
.place-arrows-controls .arr-left{
	position: absolute;
    top: 0;
    left: 0;
    color: #5b9de8;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 22px;
    text-indent: -1px;
    border-radius: 16px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ddd;
}
.place-arrows-controls .arr-right{
	position: absolute;
    top: 0;
    right: 0;
    color: #5b9de8;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 22px;
    text-indent: 1px;
    border-radius: 16px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ddd;
}
.arr-right:hover, .arr-left:hover{
	background:#5b9de8;
	color:#fff;
}


.partner-fotos{
	margin-top:-20px;
	margin-left:-20px;
	margin-right:-20px;
	margin-bottom:20px;
}

.place-logo {
	 
	position:relative;
	margin-top:-60px;
	float:left;
	margin-right:10px;
	
	flex-direction: column;
    justify-content: center;
    display: flex;
	
	width: 120px;
    height: 120px;
	padding:5px;
	 
    border: 3px solid #fff;
	box-shadow:0 0 5px rgba(0, 0, 0, 0.24);
    border-radius:3px;
	overflow:hidden;
	background: #fff;
	/* background: #e82e3b;
    background: -moz-linear-gradient(left, #e82e3b 0%, #5629d4 100%);
    background: -webkit-linear-gradient(left, #e82e3b 0%,#5629d4 100%);
    background: linear-gradient(to right, #e82e3b 0%,#5629d4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e82e3b', endColorstr='#5629d4',GradientType=1 ); */
	
	z-index:5;
}

@media(max-width:767px){
	.place-logo{
		width:80px;
		height:80px;
		float:none;
		margin-bottom:0px;
	}	
}

.place-logo img {
	display:block;
	max-width:100%;
	height:auto;
}

section.partner .icon{
	display: inline-block;
    width: 26px;
    height: 29px;
    border-radius: 50%;
    border: 0px solid #C0C0C0;
}
.p-socseti-list{
	margin-bottom:0px;
	margin-left:0;
	white-space:nowrap;
}
@media(max-width:767px){
	.p-socseti-list{
		float:left;
		margin-right: 20px;
	}
}
.p-socseti-list>li {
    display: inline-block;
    padding-right: 0px;
    padding-left: 0px;
}

.partner-content{
	margin-top:20px;
}

.sm-icon{
    float: left;
	width:20px;
	text-align:center;
	margin-right:10px;
	font-size:20px;
}
.sm-cnt{
	display:block;
	    padding-left: 30px;
}
.partner-photos-slider .slick-dots {
    bottom: 9px;
}

.p-features-title{
	color:#515669;
	font-family:Roboto,sans-serif;
	font-size:14px;
	font-weight:bold;
	margin-top:0;
}

.p-features-i{
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid #eaeaea;
	font-weight:bold;
}

.p-features-i:last-child{
	border:none;
}


.p-features-name {
    margin: 0 10px 0 0;
    font-size: 13px;
    line-height: 16px;
    color: #82889c;
}

.p-features-name > i.fa{
	line-height:10px!important;
}

.p-features-content {
    max-width: 60%;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    color: #515669;
}

a.p-phone-i{
	color: #515669;
}

.p-site{
    align-items: flex-start;
}

.p-site .p-features-content{
    max-width:50%;
}

.p-site a{
	color: #515669;
	white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.p-site a:hover{
	color: #FF4496;
}


div.p-socseti .icon.icon-vk {
    background-image: url(/themes/light/images/f-icons.png);
	background-position: 3px -53px;
}

div.p-socseti .icon.icon-ins{
    background-image: url(/themes/light/images/f-icons.png);
	background-position: 3px -23px;
}

section.partner .photo-none{
	margin-top:0;
}

.pagination > li > a, .pagination > li > span {
    border: 0 none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 20px;
    color: #AAAAAB;
    padding: 5px 5px;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover {
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
    color: #2B2A3C;
}

.scroll-to{
	bottom: 5px;
}

.scroll-to a {
border: 2px solid #E52E45;
bottom:15px;
right:15px;
}

@media(max-width:991px){
	.partners-col{
		display:flex;
		flex-direction:column-reverse;
	}
	.info-col{
		margin-bottom:0!important;
		display:flex;
		flex-direction:column-reverse;
	}
}

/*album*/

section.album-photo h2{
	text-align:center!important;
}

.album-photo-body ul{
	text-align:left!important;
}

@media (max-width: 991px) and (min-width: 768px){
.visible-sm-inline-block {
    display: inline-block!important;
}}

.home-partners-item .media-card{
        display: block;
}

.home-partners-item-title-wrap{
	padding:20px 20px 20px 20px;
}

.home-partners-item-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #232637;
    margin: 0;
}

.home-partners-item-img{
	min-height: 156px;
    background-size: cover;
    display: block;
}

.home-partners-item-descr{
	padding:20px 20px 20px 20px;
	font-size: 14px;
    text-align: left;
	color: #232637;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .online-radio-button */

.online-radio-button{
	position: fixed;
    bottom: 0;
    right: 0;
	color: #fff;
    background: #e82e3b;
    background: -moz-linear-gradient(left, #e82e3b 0%, #7B2AAD 100%);
    background: -webkit-linear-gradient(left, #e82e3b 0%,#7B2AAD 100%);
    background: linear-gradient(to right, #e82e3b 0%,#7B2AAD 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e82e3b', endColorstr='#7B2AAD',GradientType=1 );
	
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
	
	z-index:1
}


.online-radio-btns {
    line-height: 20px;
    height: 16px;
	cursor:pointer;
}

.play-pause i{
	color:#fff;
	font-size:20px;
}

.article.magazin-item{
	margin-top: -30px;
	margin-bottom: -40px;
	background: #444;
	position:relative;
}

h2.ona-magazine-page-title{
	margin-bottom: 0;
    padding-top: 30px;
	color:#fff;
}

#pageflip {
    width: 100%!important;
}