/*
	These are examples of styles for the button icons (you must supply the icon files yourself)
	
	For nice icon sets, check out the following sites.
	- http://www.famfamfam.com/
	- http://code.google.com/p/fugue-icons/
    - http://www.everaldo.com/crystal/
    
    See the notice.txt file in the images folder for possible licence conflicts with these images.
    Some icons may be licenced under the Creative Commons licence - http://creativecommons.org/licenses/by/2.5/
    
    Some icons have been modified slightly from their source files, in which case the original authors license still applies.
    
*/
.x-edit-wordpaste {background: url(../images/edit-word-text.png) 0 0 no-repeat !important;}
.x-edit-table {background: url(../images/edit-table.png) 0 0 no-repeat !important;}
.x-edit-hr {background: url(../images/edit-rule.png) 0 0 no-repeat !important;}
.x-edit-indent {background: url(../images/edit-indent.png) 0 0 no-repeat !important;}
.x-edit-char {background: url(../images/edit-char.png) 0 0 no-repeat !important;}
.x-edit-outdent {background: url(../images/edit-outdent.png) 0 0 no-repeat !important;}
.x-edit-subscript {background: url(../images/edit-subscript.png) 0 0 no-repeat !important;}
.x-edit-superscript {background: url(../images/edit-superscript.png) 0 0 no-repeat !important;}
.x-edit-removeFormat {background: url(../images/edit-removeFormat.png) 0 0 no-repeat !important;}
.x-edit-image {background: url(../images/edit-image.png) 0 0 no-repeat !important;}
.x-wnd-image {background-image: url(../images/edit-image.png) !important;}
.x-edit-link {background: url(../images/edit-link.png) 0 0 no-repeat !important;}
.x-wnd-link {background-image: url(../images/edit-link.png) !important;}
.x-edit-findandreplace {background: url(../images/edit-findandreplace.png) 0 0 no-repeat !important;}
.x-edit-undo {background: url(../images/edit-undo.png) 0 0 no-repeat !important;}
.x-edit-redo {background: url(../images/edit-redo.png) 0 0 no-repeat !important;}
.x-edit-h1 {background: url(../images/edit-heading-1.png) 0 0 no-repeat !important;}
.x-edit-h2 {background: url(../images/edit-heading-2.png) 0 0 no-repeat !important;}
.x-edit-h3 {background: url(../images/edit-heading-3.png) 0 0 no-repeat !important;}
.x-edit-h4 {background: url(../images/edit-heading-4.png) 0 0 no-repeat !important;}
.x-edit-h5 {background: url(../images/edit-heading-5.png) 0 0 no-repeat !important;}
.x-edit-h6 {background: url(../images/edit-heading-6.png) 0 0 no-repeat !important;}
.x-edit-cmp {background: url(../images/edit-cmp.png) 0 0 no-repeat !important;}

.x-field-image-bg {
    border: 1px dashed #B5B8C8;
    width: 99%;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../images/icon-bg-image.png);
}
/*
	These styles are used for the character map
*/
.char-item {
	float: left; 
	border: 1px solid #99BBE8; 
	margin: 3px; 
	text-align: center; 
	vertical-align: middle; 
	width: 20px; 
	height: 20px; 
	font-size: 14px;
	color: #15428B;
	cursor: pointer;
}

.char-item.x-view-selected {
	background-color: #777;
}

.char-over {
	border: 1px solid #15428B;
	background-color:#d0def0;
}