component {
    position: relative;
    display: inline-block;
    min-height: 24px;
    border: 1px dashed #7EADD9;
    margin: 10px;
    font-weight: bold;
    color: #485d69;
    font-family: 'Open Sans', sans-serif;
    border-radius: 15px 0 0 0;
    padding: 10px 25px 10px 30px;
}
component button[target=control] {
    position: absolute;
    padding: 0;
    margin: 0;
    left: 2px;
    top: 2px;
    width: 22px;
    height: 22px;
    background: #7EADD9 url("../images/cmp-control.png") center center no-repeat;
    cursor: pointer;
    transition: all 0.17s linear;
    -moz-transition: all 0.17s linear;
    -webkit-transition: all 0.17s linear;
    -o-transition: all 0.17s linear;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
component button[target=control]:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    border-color: #7EADD9;
}
component label { display: block; font-size: 13px; line-height: 20px; }
component description { display: block; margin-top: 7px; font-size: 11px; font-weight: normal; }
component config { display: none; margin-top: 7px; font-weight: bolder; font-size: 11px; }
component button[target=close] {
    position: absolute;
    display: block;
    right: 1px;
    top: 2px;
    width: 11px;
    height: 11px;
    border: 0 none;
    background: transparent url("../images/icon-close.png") center center no-repeat;
    cursor: pointer;
    opacity: 0.5;
}
component button[target=close]:hover { opacity: 1; }
article, cform, list, slider, items {
    display: inline-block;
    border: 1px solid #dfdfdf;
    margin: 5px;
    background: #f1f6f9 url(../images/icon-tags.png) no-repeat 2px 2px;
    padding: 27px 18px 5px 10px;
    color: #485d69;
}