/**
 * Gear Manager / Default
 * Office 2007 theme
 *
 * @author manager@gearmagic.ru
 * @date   Jan 01, 2016
 */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
    background: #e7eaed url("images/wallpapers/default.jpg") no-repeat left top;
    background-attachment: fixed;
    background-size: cover;
    font: 14px Roboto Condensed,arial,tahoma,sans-serif;
    color: #333;
}
